[2014-07-07 09:42] psignoret opened #2 "Use OpenID Connect"
We might want to consider using OpenID Connect.

(There are some arguments _not_ to do so, but creating this as a tracking item just in case.)

[2014-07-07 10:13] psignoret opened #3 "Validate token"
Should validate the access to token (otherwise, open to MITM).

[2014-07-07 10:31] psignoret opened #4 "Group membership doesn't work anymore -- processToken() needed"
`processToken()` sets a few SESSION variables used by `GraphHelper`, so need to add it back in (and actually call it after getting a token).

In reality, GraphHelper should not rely on obscure SESSION variables...

[2014-07-07 12:02] #4 closed, assigned to nobody

[2014-07-09 17:14] #3 closed, assigned to nobody

[2014-08-27 22:34] jtsternberg opened #7 "Create admin settings page for storing Settings.json data"
Curious if there is any reason you prefer this to not be the case.

[2014-09-04 12:04] #2 closed, assigned to nobody

[2014-09-11 04:43] psignoret opened #9 "Groups picker/search in settings page"
Rather than using the object IDs, if the current user is signed in via AAD, the groups field should allow for searching.

[2014-09-11 04:43] psignoret opened #10 "Advanced settings (default hidden)"
All the settings that take a default setting should be shown in the UI, probably hidden by default.

[2014-09-11 05:41] psignoret opened #11 "Auto-provision users if they don't exist yet"

[2014-09-14 10:34] #11 closed, assigned to nobody

[2014-09-16 04:25] psignoret opened #13 "Autoprovision fails when matching by login because email can be taken"
We can't create a user in WordPress if the email address is taken. If we are matching by email (`field_to_match_to_upn = 'email'`), then the auto-provisioning code is never invoked. However, if we are matching by login (`field_to_match_to_upn = 'login'`), then it is possible that there exists a user with the same email, but with a different login.

E.g.
field_to_match_to_upn: login
User in WP: (lo

[2014-09-16 05:00] psignoret opened #14 "Error messages not always displaying at login form"
Needs more investigation, but basically, often error messages are not displaying in the login form (e.g. when not a member of the groups).

[2014-09-16 05:37] psignoret opened #15 "When matching by email, users can lock themselves out by changing their profile"
When matching AAD's UPN to WordPress' email, a users can easily lock themselves out by updating their profile to change their email. Since an average AAD user can't change their own UPN, this would be a bad thing.

(On the next login, the user would not be matched via email, but might not be auto-provisioned because of a conflict with login field (see issue #13)).

[2014-09-22 18:45] psignoret opened #16 "Use email properties for email when auto-provisioning"
Instead of UPN

[2014-09-24 18:52] blobaugh opened #17 "Switch user permissions to subscriber when user deleted from AD"
Users deleted from an AD group currently potentially still have access to WordPress via the lost password form. This could, for instance, allow an admin who is no longer with an organization to regain admin access to the website.

When user login fails AAD does not report back about the user, only that login has failed, thus there is no easy way to determine the user has been removed.

Here are a

[2014-09-26 02:14] psignoret opened #18 "Document that sessions affinity is required"
When deploying a blog behind load balancers (e.g. Azure Web Sites), session affinity is required. Otherwise, the redirect back after sign in won't necessarily get the same instance of the site, and won't find the session. The ANTIFORGERY ID  will not match and sign in will fail.

This should be documented, as its really hard to debug. :)

For IIS: http://azure.microsoft.com/blog/2013/11/18/disabli

[2014-11-03 14:57] blobaugh opened #19 "Add filter for custom user roles"
Lets add a filter that allows developers to add addition custom user roles via a filter.

[2014-11-03 15:42] blobaugh opened #20 "Add checkbox to dis/enable AD group to role mapping in wp-admin"
Right now mapping the authenticating user's AD group to a WP role is enabled by default and can only be changed by altering the plugin at runtime. We should add in a checkbox to the settings page in wp-admin to dis/enable mapping easily by the site admin.

[2014-11-03 15:45] blobaugh opened #21 "Refresh readme"
The entire process for setting up the plugin has changed and the readme file should be updated to reflect these changes

[2014-11-07 19:20] blobaugh opened #22 "Ensure the proper WP login hooks are being called"
We need to ensure the proper login hooks for WordPress are being called. This is so security and logging plugins continue to work as expected.

[2014-12-01 06:48] iouri-s opened #24 "After logging in, users are directed to wp-admin/profile.php instead of the referring page"
I created a WP website
Added "restricted site access" plug-in
Added "aad sso wordpress" login

I can successfully log in now with AAD credentials; however, every time I log in, I get redirected to the profile page. This is not the case when I log in with WP credentials - I get directed to the home page.

[2015-03-25 19:27] hschroda opened #25 "after logout user's role in WP gets changed"
logging out successfully changes the role of the given user in WP to "none"

[2015-04-02 13:46] jtsternberg commented on #15
With other SSO WordPress login plugins we've built, we save the unique identifier for that service to hidden user_meta, and match on that when logging in/provisioning etc. Then it's irrelevant if a user changes their email, and can set the username to something w/ fewer privacy concerns. For blogs.office.com, I'm going to have to do something like this, as they do not want email to be the username

[2015-04-02 19:59] psignoret commented on #15
This should be relatively straight-forward to do. The identifier that would be best suited for AAD this is the user ObjectId, which is available as a claim in the `id_token` JWT token (`oid`, if I recall correctly).

[2015-04-03 17:28] jtsternberg commented on #16
Can you explain this one? I assume it's related to the line:
[code]
But I don't see any other fields in that jwt response which would be email-specific.

[2015-04-03 17:31] jtsternberg commented on #15
[The `$jwt` response object](https://github.com/psignoret/aad-sso-wordpress/blob/25a9cce90707f93eb9af904eb241b53cdb52f67a/aad-sso-wordpress.php#L93) contains an `oid` property. This IS the unique ObjectId or is some reference for how to GET the ObjectId?

[2015-04-03 21:19] jtsternberg commented on #22
This should already be the case since the plugin uses the 'authenticate' filter, right? https://github.com/WordPress/WordPress/blob/master/wp-includes/user.php#L79-L101

[2015-04-03 21:21] jtsternberg commented on #18
If we replace the usage of PHP's `$_SESSION` with get/set_option, this issue should be irrelevant, right?

[2015-04-03 23:50] jtsternberg opened #26 "Authorization_RequestDenied error when trying to see if user is in a mapped role (document required app permission settings)"
request to `AADSSO_GraphHelper::userCheckMemberGroups()` returns this error:
[code]

Which means there's no way to properly map a user. Do you know the reason for this?

[2015-04-03 23:55] psignoret commented on #26
Check the permissions for the application. Should have Delegated Permission to "Read Directory Data" and "Enable sign-on and read users' profiles". README needs an update.

![image](https://cloud.githubusercontent.com/assets/231140/6990496/fcf02fb0-da21-11e4-9d60-1e6e2fd2cef1.png)

[2015-04-04 00:00] jtsternberg commented on #15
I think I answered my own question. That oid is the unique ObjectId.

[2015-04-04 00:02] psignoret commented on #15
Yes, that's right. It is the unique ObjectId for that user.

[2015-04-04 00:07] psignoret commented on #18
It needs to be specific to that particular browser session for the (unauthenticated) user. If that is covered, and if the underlying the database is a single instance (i.e. not a cluster, where replication delay would need to be taken into account)--then yes, this is irrelevant.

[2015-04-04 00:12] psignoret commented on #18
There's this: https://wordpress.org/plugins/wp-session-manager/, but I haven't looked at the implementation, so I don't know if it relies on hitting the same server instance.

[2015-04-04 00:17] jtsternberg commented on #18
Good insight, thank you. Will def. keep those things in mind.

[2015-04-04 00:45] jtsternberg commented on #18
WP-Session-Manager def. seems the way to go. The writeup for why it was created specifically mentions 'distributed systems' w/ a load balancer: [http://ttmm.io/tech/wp_session-a-proposal/](http://ttmm.io/tech/wp_session-a-proposal/)

And Pippin Williamson has bundled the plugin with Easy Digital Downloads and used a wrapper class to initiate it (and to be sure it's only included if plugin is not a

[2015-04-04 00:50] jtsternberg commented on #26
That did it. Thank you.

[2015-04-04 01:15] jtsternberg commented on #24
This is solved in this commit (in our fork): https://github.com/WebDevStudios/aad-sso-wordpress/commit/7f4c55b8ca82dcf01f76a30ebd390c086029bfb1

[2015-04-04 01:16] jtsternberg commented on #15
This is updated in this commit (in our fork): https://github.com/WebDevStudios/aad-sso-wordpress/commit/df4b77fa562604d627768f30d9f4514b1ec93608

[2015-04-04 01:20] psignoret commented on #24
Thanks @jtsternberg. I'll cherry-pick this one tonight.

[2015-04-04 01:57] psignoret commented on #16
The AAD user's UserPrincipalName (`$jwt->upn`) is not a real email address. It has the format `<user>@<domain>`, but there is no guarantee that there is a mailbox behind it. And if there is, there is no guarantee that the mailbox belongs to the same user (though there *is* a guarantee that the mailbox belongs to the same organization).

A better alternative is to make a call to the AAD Graph API t

[2015-04-04 02:07] jtsternberg commented on #15
Also relevant: https://github.com/WebDevStudios/aad-sso-wordpress/commit/fefa4d8aaafa8b193e7af61a8e3fc26f1d08e630

[2015-04-04 02:08] jtsternberg commented on #26
README updated here: https://github.com/WebDevStudios/aad-sso-wordpress/commit/0f5c73b5b40aa8753683cd828cf82fd2f1ed488d

[2015-04-04 02:17] #26 closed

[2015-04-04 03:09] jtsternberg commented on #24
Also, https://github.com/WebDevStudios/aad-sso-wordpress/commit/fd430c74a543a36113be0da3aa4dde5331235860

[2015-04-04 03:58] jtsternberg commented on #16
Ok, this is good to go with https://github.com/WebDevStudios/aad-sso-wordpress/commit/145825a2555d82deac269b9ca1281421c0221aa2 and https://github.com/WebDevStudios/aad-sso-wordpress/commit/a5ca14b0b22375883519f1403de9377a913b9378.
The ordered list is a filter so it can be overridden if necessary.

[2015-04-04 04:00] jtsternberg commented on #20
I think we're good here. I've also added a dropdown setting for selecting the default fallback role: https://github.com/WebDevStudios/aad-sso-wordpress/commit/de2ffc1ab8c03d0fdec22029636a87274f93097f

[2015-04-04 04:04] jtsternberg commented on #17
[With this commit](https://github.com/WebDevStudios/aad-sso-wordpress/commit/df4b77fa562604d627768f30d9f4514b1ec93608), the aad-sso is saved to user-meta, in the `_aad_sso_id` key, so that can be the query hook.

[2015-04-04 04:06] jtsternberg commented on #13
Between this https://github.com/WebDevStudios/aad-sso-wordpress/commit/df4b77fa562604d627768f30d9f4514b1ec93608 and https://github.com/WebDevStudios/aad-sso-wordpress/commit/fefa4d8aaafa8b193e7af61a8e3fc26f1d08e630, this should be resolved.

[2015-04-04 05:00] jtsternberg commented on #9
Check out this commit.. This changes the aad group inputs to select dropdowns if the tenant domain is saved: https://github.com/WebDevStudios/aad-sso-wordpress/commit/0a7e860c5c50b68c32c3cae5460edcf4f703e38e

I get the sense that org_domain_hint and the new tenent_domain are for the same purpose. Can you verify? if so, I'll merge the two and try to make the settings/documentation more clear about

[2015-04-04 05:05] jtsternberg commented on #9
I wonder if we should automatically populate (save the setting for) the org_domain_hint/tenent_domain settings after a user authenticates?

[2015-04-06 02:09] psignoret commented on #25
I wasn't able to reproduce. Here's what I tried:

1. Configured plugin to require specific group memberships to grant roles and sign in.
2. Logged in with AAD.
3. Verified that user had the correct role.
4. Logged out.
5. Logged in to same user, but this time using WP login form.
6. Verified that user still had same role.

If you can still repro, can you share your settings?

[2015-04-06 02:09] #25 closed

[2015-04-06 03:11] psignoret commented on #13
Unfortunately, the strategy you're using there removes the feature for AAD users to match to existing WP users that were created manually, or before the plugin was installed and used. (For instance, on an existing WordPress install with dozens of users, this change would create new users for each AAD user.)

The plan is to have two matching modes:
- `none`: Does not attempt to do any matching, but

[2015-04-06 03:22] psignoret commented on #16
That's pretty close, but does not work for `proxyAddress` values. I added some comments to the code: https://github.com/WebDevStudios/aad-sso-wordpress/commit/a5ca14b0b22375883519f1403de9377a913b9378#diff-a0ada58cb496292a73dad99a8465f94fR275

[2015-04-06 03:55] psignoret commented on #17
It's an interesting problem.

To do the first option proposed by @blobaugh, we would need to give the plugin application permissions to "Read directory data" (currently, we're only asking for *delegated* permissions, which require a signed-in user in addition to the application's secret key). We could then either do as proposed (wp-cron job), or simple check role membership on every sign-in (regar

[2015-04-06 04:00] #24 closed

[2015-04-06 20:44] psignoret commented on #9
The groups input drop-down will only work for directories with a small number of groups. I left some notes in the relevant commits.

I really don't think `tenant_domain` should exist at all. It should be taken out of the JWT token of the authenticated user. This ensures that:

    a. We are setting ourselves up to support multiple directories in the future.
    b. We only attempt to call AAD if th

[2015-05-05 18:28] psignoret opened #27 "Get approval for MIT license"
Please provide your approval to set the license on this project to an MIT license.

@blobaugh
@ntonyho
@jtsternberg

[2015-05-05 18:28] jtsternberg commented on #27
approved.

[2015-05-17 13:13] ntonyho commented on #27
approved

[2015-05-18 14:57] blobaugh commented on #27
approved

[2015-05-27 16:48] psignoret commented on #27
Thanks everyone. I'll add the license tonight.

[2015-05-29 17:12] FrogStoneMedia opened #28 "Unable to activate: Fatal Error Cannot redeclare class JWT"
Fatal error: Cannot redeclare class JWT in /wp-content/plugins/aad-sso-wordpress/lib/php-jwt/Authentication/JWT.php on line 17

Upon activating the plugin, this error comes up.

Using WordPress 4.2.2

Also using Zendesk with SSO activated: https://wordpress.org/plugins/zendesk/

[2015-06-08 15:26] psignoret commented on #28
Apologies for the delay here.

This is happening because both Zendesk and AAD SSO Wordpress both use a class named "JWT" to parse (and validate) the tokens.

I took a look at Zendesk, and it appears they are also using `JWT.php` from [firebase/php-jwt](https://github.com/firebase/php-jwt/), but a much [older version](www.mergely.com/LaENTDL5/) (which does not address [this vulnerability](https://a

[2015-06-14 23:47] hkusulja opened #29 "ANTIFORGERY_ID mismatch. Expecting"
I have setup latest stable wordpress on blank cPanel server and created Azure AD as your instructions.
I have setup successfully about 7 sites, but two of them are not working.
I have tried replacing your wp-plugin, and recreating in Azure AD side, however no success.

The error after login is on wp-login.php form showing error: ANTIFORGERY_ID mismatch. Expecting
without any ID.

What can be the i

[2015-08-19 14:54] elliott-stocks commented on #18
Has this gotten any further with using WP sessions?

[2015-08-21 09:46] HowardvanRooijen opened #30 "Matching by email is case sensitive"
Hi,

when testing this out, we discovered that some users with existing accounts in WP had lowercase email addresses, but the email address stored in Azure AD was Proper case... and this failed to log users in.

Other than that - awesome plugin - great work!

[2015-08-21 17:05] psignoret opened #31 "Documentation: Add instructions for creating groups"
Probably useful to include instructions using Office 365 portal, Azure portal, and AAD PowerShell.

[2015-08-21 17:07] psignoret commented on #30
Great catch, thanks. Fix, will get done soon.

[2015-08-26 21:21] richthomsen opened #32 "Please add steps for granting Azure permissions on behalf of users"
When every user first logs into the Wordpress site via SSO, Azure requests permissions for the app:
"[App Name] needs permission to:
    Sign you in and read your profile
You're signed in as: [User Name]"
It's not clear how to grant permission on behalf of our organization's users.  If you have worked through this already, it would be an excellent addition to your setup instructions.  After granti

[2015-09-18 03:27] eavonius commented on #30
ETA?

[2015-11-12 19:15] tallbusiness commented on #28
is there any update on this? I am getting the same error. I am a novice but maybe you can just tell where to update and I will make the necessary edits?

[2015-11-23 20:02] unitedspectrums opened #33 "Did everything"
Hello,

I did everything and now when i am at the /wp-admin i try and log in with my active directory login and then it just gives the normal wordpress failed password.

[2015-11-24 16:26] psignoret commented on #33
When you go to /wp-admin, do you see a link saying "Sign in with you <organization> account"?

[2015-11-24 16:28] unitedspectrums commented on #33
No

Andrew Mathews
Chief Executive Officer
(800) 661-7341 Ext. 5338<tel:(800)%20661-7341;5338>
Mon-Fri 9AM-5PM
www.UnitedSpectrums.com<http://www.unitedspectrums.com>

Manage your account today at

HTTPS://untdsp.com/manage/

Let us know how we're doing email feedback@unitedspectrums.com<mailto:feedback@unitedspectrums.com>

Follow us on social media.

www.facebook.com/UnitedSpectrums<http://www.f

[2015-11-24 16:31] psignoret commented on #33
Did you activate the plugin?

[2015-11-24 16:33] unitedspectrums commented on #33
It doesn't show up in wp admin I can only see it in file viewer

Andrew Mathews
Chief Executive Officer
(800) 661-7341 Ext. 5338<tel:(800)%20661-7341;5338>
Mon-Fri 9AM-5PM
www.UnitedSpectrums.com<http://www.unitedspectrums.com>

Manage your account today at

HTTPS://untdsp.com/manage/

Let us know how we're doing email feedback@unitedspectrums.com<mailto:feedback@unitedspectrums.com>

Follow us on

[2015-11-24 16:39] psignoret commented on #33
Does this file exist: `<yourblog>/wp-content/plugins/aad-sso-wordpress/aad-sso-wordpress.php`?

[2015-12-01 11:03] jdadon32 opened #34 "ERROR: Invalid id_token"
I have the plugin installed on my site for more than 6 months, this week we started to receive the following error when trying to login
ERROR: Invalid id_token. Cannot handle token prior to 2015-12-01T10:39:32+0000
(the time stamp is when you tried to login)

I haven't made any changes to the server or the application in Azure.

Why is this happening but more important how do i fix this ???

Thank

[2015-12-01 11:30] psignoret commented on #34
It would appear you are getting a token from Azure AD that is not considered valid because the current time is before the time given by the `nbf` (not before) claim or the `iat` (issued at) claims in the ID Token. (See [line 81](https://github.com/psignoret/aad-sso-wordpress/blob/1cbc1de5d89b1e987aeb346e907a709358b4c1d3/lib/php-jwt/Authentication/JWT.php#L81) and [line 89](https://github.com/psign

[2015-12-01 11:39] jdadon32 commented on #34
Yes i can see the time difference in my case its almost 10 minutes.

what is the best way to get the time sorted on a Linux VM ?

Thanks

[2015-12-01 11:48] jdadon32 commented on #34
Found it just had to install NTP on my VM and correct the time on the server
all working now thanks :)

[2015-12-01 11:48] #34 closed

[2015-12-01 11:49] psignoret commented on #34
Great!

[2015-12-07 08:50] michaelepayne opened #35 "Unable to login locally once SSO created account"
When a new user authenticates via SSO (office 365) the plugin creates the users account in wordpress and authenticates them for access.  If the user logs out of office 365 and attempts to login, this time using the wordpress login form and enters their office 365 email/password they are not authenticated to the wordpress site.

This came about when trying to setup a blogging software (MS Word and

[2015-12-07 09:23] psignoret commented on #35
It sounds like you were expecting the user to be able to use their Azure AD (Office 365) username and password in the WordPress form--this won't work, for starters, because WordPress would have no way of verifying the password.

When a WordPress user is auto-provisioned, they *must* use  Azure Active Directory (AD) to sign in (e.g. clicking on the "Sign in with a ___ account"). If you have a scena

[2015-12-08 01:47] michaelepayne commented on #35
Thanks.  That was the answer I was expecting.  Is it possible then to remove the local login option and simply redirect every user to the Azure AD sign it since that is how we want all users to sign on anyways.
It would be nice if there was a way (via a specific URL) to bypass the SSO and allow a "backdoor" login for a non Azure AD admin to gain access should something break.

thanks.

[2015-12-08 02:11] psignoret commented on #35
You can use the [`enable_auto_forward_to_aad`](https://github.com/psignoret/aad-sso-wordpress/blob/1cbc1de5d89b1e987aeb346e907a709358b4c1d3/Settings.php#L74) config option in the `Settings.json` file:

    "enable_auto_forward_to_aad": true,

The current implementation doesn't have a magic word that can be used to save yourself from being locked out, but it does introduce a filter named `aad_auto_

[2015-12-08 02:15] michaelepayne commented on #35
Perfect.  That will work for me.

Thanks

[2015-12-08 02:25] michaelepayne commented on #35
I entered that code but I'm still getting the login screen.  Is there a particular order to the entries that has to be followed.
Here is the settings.json file.
{
	"org_display_name": "Cadence International",

	"client_id":        "8aaadd83-09db-468b-aabb-90c052369b9d",
	"client_secret":    "XWT5viIpEMkRJpZJFmdfvKo4wOE7+zBPeHeNK385m6Y=",

	"field_to_match_to_upn": "email",
	"enable_auto_provisioni

[2015-12-08 02:27] psignoret commented on #35
(Careful, don't post your settings file in it's entirety--the `client_secret` is a secret. You should remove your existing key and create a new one, just to be safe.)

Order should not matter. I'll give it a whirl (it has been some time since I used this config value myself) and get back to you soon.

[2015-12-08 03:19] psignoret commented on #35
OK, I tested this out and it's working as expected (well, I had a typo in the "oops" filter above, which I've corrected now). My `Settings.json` includes `"enable_auto_forward_to_aad": true`.

If I go to `http://www.example.com/wp-admin`, I'm immediately redirected to Azure AD to sign in. If I go instead to `http://www.example.com/wp-login.php?oops=1`, I am presented with the regular login form.

[2015-12-08 03:33] michaelepayne commented on #35
It is still not working for me.  I still get the login prompt.

[2015-12-08 03:37] psignoret commented on #35
What version of the plugin do you have? (You can see this in the Pugins page.)

[2015-12-08 03:38] michaelepayne commented on #35
0.4a

[2015-12-08 03:38] psignoret commented on #35
And how long ago did you install the plugin?

[2015-12-08 03:39] michaelepayne commented on #35
2 weeks at most

[2015-12-08 03:43] psignoret commented on #35
Strange, it would seem this is specific to your blog/installation. Do you get any error messages? When you visit `.../wp-admin`, what does the URL you are redirected to look like?

Here are some things you can try:

1. Use a fresh browser session (e.g. Chrome's Incognito, or IE's InPrivate).
2. Temporarily disable all other plugins. Perhaps this is introduced by conflict of plugins.
3. Triple-chec

[2015-12-08 03:47] michaelepayne commented on #35
http://intranet.cdncdev.com/wp-login.php?redirect_to=http%3A%2F%2Fintranet.cdncdev.com%2Fwp-admin%2F&reauth=1

1.  Tried both incognito and ie same result
3.  See image.
![image](https://cloud.githubusercontent.com/assets/16187113/11647289/ab24ec7e-9da9-11e5-8a21-b00c415f214d.png)
2.  I'll try them one at a time./

[2015-12-08 03:51] michaelepayne commented on #35
disabled the plugins and still no go

[2015-12-08 03:59] michaelepayne commented on #35
Changed the order of the commands to
        "field_to_match_to_upn": "email",
	"enable_auto_provisioning": true,
	"default_wp_role": "subscriber",
	"enable_auto_forward_to_aad": true

and it works now.

[2015-12-08 04:01] michaelepayne commented on #35
what was the fixed command in the oops?

[2015-12-08 04:02] psignoret commented on #35
Very strange. Order shouldn't matter. I'll take a look at this to figure out why.
Thanks for reporting!

On Mon, Dec 7, 2015 at 7:59 PM -0800, "michaelepayne" <notifications@github.com> wrote:

Changed the order of the commands to
        "field_to_match_to_upn": "email",
        "enable_auto_provisioning": true,
        "default_wp_role": "subscriber",
        "enable_auto_forward_to_aad": true

[2015-12-08 04:03] michaelepayne commented on #35
Appreciate all your help.  This is now working perfectly for me.

[2015-12-08 04:03] #35 closed

[2015-12-18 22:17] bradkovach opened #36 "Settings.json contains Azure AD access tokens/secrets and can be viewed publicly."
It is possible to load and view the Settings.json file by navigating to it with an HTTP request.  For the most part, these credentials SHOULD BE read-only, but there is a possibility that these credentials would include the ability to write to AD.

This could be expose a serious attack vector for users that haven't properly configured their Azure AD tokens.

1. Saving these credentials to a PHP co

[2015-12-21 21:45] bradkovach opened #38 "Plugin does not fail gracefully when `allow_url_fopen` is false."
Rather than displaying tame/helpful errors, this plugin will emit errors upon activation if `allow_url_fopen` is false.

(pull request coming)

[2015-12-21 22:08] bradkovach commented on #36
Fixed in https://github.com/bradkovach/aad-sso-wordpress/commit/55308e4d4e38a200d6263813b2444f85661e7ba8.

[2015-12-21 22:08] bradkovach commented on #38
Fixed in https://github.com/bradkovach/aad-sso-wordpress/commit/55308e4d4e38a200d6263813b2444f85661e7ba8

[2016-02-16 14:11] #38 closed

[2016-02-16 14:16] psignoret commented on #36
Fixed in psignoret@c919244d1ce02c9a4802fe4dcb5c89bb2d065af6, thanks!

[2016-02-16 14:16] #36 closed

[2016-02-17 21:15] jksus commented on #33
Hello, I am experiencing a similair problem. I followed the instruction set and still have the same old WP login page. Any suggestions as to where I may have gone astray? I should note that I am receiving an error in the dashboard: "Azure Active Directory Single Sign-on for WordPress requires a Settings.json file to be added to the plugin."

[2016-02-19 16:41] bradkovach commented on #33
@jksus Create a Settings.json file and add the line to your wp-config.php

```define( 'AADSSO_SETTINGS_PATH', '/path/to/Settings.json' );```

[2016-02-19 19:59] jksus commented on #33
I did that as part of the original instruction set. Error message remains.

[2016-02-20 02:58] psignoret commented on #33
Can you share how you've set this in `wp-config.php`?

[2016-02-21 04:00] psignoret commented on #7
Fixed in a1ca9939d34f2587878d11df6fb1e98d604cce79. (As a first step, the entire JSON is stored in DB using WP Settings API.)

[2016-02-21 04:00] #7 closed

[2016-02-21 04:20] psignoret commented on #29
Since this was open so long ago, I'm closing this issue, but feel free to open it again if you're still experiencing a problem with the latest version of the plugin.

**IMPORTANT**: *Never* share the `client_secret` of an application in any public forum. As the name implies, this is a secret, and would allow anyone with access to it to impersonate your application. You should remove this key and c

[2016-02-21 04:20] #29 closed

[2016-02-21 04:22] psignoret commented on #22
According to me, this is already the case.

Closing the issues (as it's ~1 year old), but let me know if you think it should be re-visited.

[2016-02-21 04:22] #22 closed

[2016-02-21 04:25] hkusulja commented on #29
Ok, you can close this case, the client_secret was just a example, it is not an correct one.

However, problem happens sometimes, but sometimes it simply needs time from azure AD to update the group membership and/or those stuff, so it is MS AzureAD fault why this was happening.

You can leave this closed, thank you

[2016-02-21 04:25] #20 closed

[2016-02-21 04:27] #19 closed

[2016-02-21 04:31] #21 closed

[2016-02-21 05:06] psignoret commented on #29
Good to know that wasn't the real secret. :)

Changes to Azure AD generally propagate internally quite quickly (within seconds). If the changes are being synchronized from on-premises (e.g. using Azure AD Connect), then there are additional delays until the sync cycle takes place.

[2016-02-21 18:01] #27 closed

[2016-02-22 00:30] psignoret opened #41 "Add activation/deactivation/uninstall hooks"
https://developer.wordpress.org/plugins/the-basics/activation-deactivation-hooks/

[2016-02-22 00:38] bradkovach opened #42 "Add configuration UI"

[2016-02-22 00:43] bradkovach commented on #41
Currently working on UI fixes.  The "deactivation" hook should delete the "aadsso_settings" key and the "activate" hook should fill it with sane defaults.

[2016-02-22 00:45] bradkovach commented on #9
I'm planning to take a look at this after i get the basic UI stuff sorted out.

[2016-02-22 00:46] bradkovach opened #43 "Add caching to prevent HTTP request every time `openid_configuration_endpoint` is added to settings"
Hour-long expiration should be safe?

[2016-02-22 00:50] psignoret commented on #43
Hmmm... I thought I already had one for this, but I'm confusing with my other AAD project. YES, caching is absolutely needed.

Yes, let's start with a simple 1-hour cache. There's some additional logic to be implemented, later, for gracefully handling an emergency signing key rollover, but it's much lower priority.

[2016-02-22 00:53] psignoret commented on #41
No, I think only uninstall should remove the settings.

Here's what I'm doing:

- Activate: Check for settings. If present, do nothing. If not present (e.g. first install), set a basic template (it will be incomplete, but that's fine).
- Deactivate: Nothing.
- Uninstall: Remove `aadsso_settings`.

[2016-02-22 00:54] bradkovach commented on #43
ok.  will add to current batch of changes.  should improve performance quite a bit.  Is it known if the `openid_configuration_endpoint` is a versioned API?

[2016-02-22 00:55] psignoret commented on #43
No, not versioned.

[2016-02-22 01:24] bradkovach opened #44 "Localize."
Make sure all strings are localized properly.

[2016-02-22 04:14] bradkovach commented on #42
done! check the pull rq @psignoret

[2016-02-22 04:15] bradkovach commented on #43
done! check my pull request @psignoret

[2016-02-22 05:52] psignoret opened #46 "Flip AAD groups to WP roles map in settings"
Current implementation has the group ObjectId as key, and WP role as value. WP roles are the ones that are unique, and thus should be the keys. This would avoid awkward flipping and non-deterministic behavior.

[2016-02-22 06:17] #43 closed

[2016-02-22 06:22] psignoret opened #47 "Update wording and terminology for new settings UI"

[2016-02-22 16:29] bradkovach commented on #46
the configuration UI is storing as `role => group guid`, but it is flipped when settings are loaded.

[2016-02-22 16:37] richthomsen commented on #32
I figured this out after some calls with Microsoft and working with one of our Azure Global Admins:

After SSO is setup, the application needs to be ‘trusted’ by an Azure AD Global Admin, if all internal users will use the application as an authenticated user.   Otherwise, each of your users will need to choose to trust the application on first use.  The Global Admin can setup trust on behalf of a

[2016-02-22 18:50] christianhennen commented on #44
I addded localization support in pull request #49 and already added a German translation

[2016-02-22 19:00] bradkovach opened #50 "Create an upgrade routine to upgrade legacy users"
If the plugin notices the settings JSON path is set, offer to import those settings into the database.

[2016-02-22 19:07] psignoret commented on #42
Opening this up again, as I just realized README.md hasn't been updated to reflect UI settings.

[2016-02-22 19:11] psignoret commented on #50
Also:

 - Attempt to delete the JSON file. If not possible (e.g. permissions), attempt to delete the contents.
 - Strongly recommend that they generate a new application secret and delete the old one.

[2016-02-22 19:34] bradkovach opened #52 "Discussion: Automated Testing"
Unit tests should exist to the fullest extent possible.

Resource: https://pippinsplugins.com/unit-tests-wordpress-plugins-introduction/

[2016-02-22 19:37] bradkovach opened #53 "Create CONTRIBUTING.md"
Resource: https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2016-02-22 19:40] psignoret commented on #53
:+1:

[2016-02-22 19:42] psignoret commented on #32
I'm actually going to re-open the issue as a bug, since we really do need to provide better guidance on the option to provide admin consent to the app. Thanks for bringing it up!

[2016-02-22 19:56] psignoret commented on #47
Fixed by #51

[2016-02-22 19:56] #47 closed

[2016-02-23 04:59] bradkovach commented on #33
@jksus a lot of improvements have been made to the plugin to make it easier to configure.  the latest version of the plugin does not require a settings.json file.

[2016-02-23 07:03] christianhennen commented on #44
I added a new pull request reflecting your latest changes and the added localization. #55

[2016-02-23 07:07] #44 closed

[2016-02-23 13:34] jksus commented on #33
@bradkovach perhaps I am not running the latest version of the Plugin as the readme file instructs the use of the Setting.json. I am running version 0.4a. Which version is the latest and how to I acquire it?

[2016-02-23 16:38] psignoret commented on #33
0.6a is the latest, you can acquire it the same way you installed it the first time.

The README hasn't been updated yet, but once you copy the `aad-sso-wordpress` folder into in `wp-content/plugins/`, when you sign in to the admin page (and activate the plugin), you'll see a new settings page under **Settings** > **Azure AD** where you can set all the fields that you would have set in your JSON f

[2016-02-23 16:42] jksus commented on #33
Forgive me, but when I click the link for Download ZIP, I still get the .4a version. I am not sure how to find the .6a version.

[2016-02-25 09:15] psignoret commented on #33
You might want to first remove the old version, and then copy in the new version from: https://github.com/psignoret/aad-sso-wordpress/archive/master.zip

[2016-02-26 13:46] tasgray opened #57 "Feature request - ability to change redirect_uri via settings"
Hi Philippe,

Great plugin, thank you for your efforts.

I ran in to an issue when configuring it on our site, as we have enhanced security using iThemes Security Pro plugin which allows you to hide the typical wordpress login urls /wp-admin/, /wp-login.php, etc and replace them with a custom one such as /secretloginpage/. This means I have to set the reply url in my azure ad application to /secre

[2016-02-27 22:27] psignoret commented on #57
Great point. A simple work-around is actually to remove the `redirect_uri` parameter from the authorization request -- Azure AD will actually default to the first reply URL you've registered.

But still, this should be configurable, and it's fairly simple update. Will probably push this one out this weekend (or today, even).

[2016-02-27 23:53] psignoret opened #58 ""Reset success" message still shows after resetting settings"

[2016-02-28 01:12] psignoret commented on #57
Done, `redirect_uri` and `logout_redirect_uri` are now configurable. The default still `wp_login_url()`, but you can set whatever you want. (Closed in #59.)

[2016-02-28 01:12] #57 closed

[2016-02-28 02:46] psignoret commented on #42
Fixed with 21a67eccb00f1204c38ddc0ffe725a96b4cd588f

[2016-02-28 02:46] #42 closed

[2016-02-28 02:47] psignoret commented on #41
Fixed by #56

[2016-02-28 02:47] #41 closed

[2016-02-28 05:35] psignoret commented on #30
For the longest time, I was unable to reproduce this, but after digging into the code for WordPress' `get_user_by` method (which is used by this plugin to retrieve the user by `login` or by `email`), I've concluded that this is most likely dependent on your database, table and column collation.

The default collation is `utf8_general_ci`, which is case-insensitive. I suspect you may have installed

[2016-02-28 05:35] #30 closed

[2016-02-28 16:40] bradkovach commented on #57
@tasgrey if you can, please edit your initial request to remove your
application's ID.  The less "production" information we publish, the better.

On Sat, Feb 27, 2016 at 6:12 PM, Philippe Signoret <notifications@github.com

--
Brad Kovach
https://bradkovach.com

PGP key available at https://bradkovach.com/pgp
If you need/want to send me an encrypted message, visit
https://bradkovach.com/message

[2016-02-28 18:56] psignoret commented on #57
@bradkovach Just for the record: App IDs are not secrets, they're easily discoverable by watching any site's sign-in flow.

[2016-02-28 19:09] psignoret commented on #9
I've started working on this.

[2016-02-28 19:33] bradkovach opened #60 "Prep for WordPress plugin directory"
I have found the following helpful resources for prepping a plugin for the plugin directory

- http://jeremypry.com/wordpress-plugin-development-with-github/
- https://wordpress.org/plugins/about/
- https://wordpress.org/plugins/about/guidelines/

Todo...
- [ ] Create README.txt
- [ ] Logo?
- [ ] GitHub <-> WordPress SVN sync mechanism

The current version of the plugin in the WP plugin directory

[2016-02-28 19:39] psignoret opened #61 "Create README.txt"
For WordPress plugin directory

[2016-02-28 19:40] psignoret commented on #60
Thanks, this is useful.

I'm closing this issue, as it's effectively a duplicate of items tagged for `1.0.0` (which is the release for the WordPress plugin directory). I did add an issue for the README.txt, which I'm in the process of writing.

GitHub > SVN can come for a later release.

[2016-02-28 19:40] #60 closed

[2016-02-28 21:31] #50 closed

[2016-02-28 21:36] bradkovach commented on #58
Fixed in fc40057

[2016-02-28 22:08] #58 closed

[2016-02-29 21:25] tasgray commented on #57
@psignoret thank you for making the update so quickly.

@bradkovach I have removed the application ID. Apologies for that.

[2016-02-29 21:28] bradkovach commented on #53
DONE!

[2016-02-29 21:28] #53 closed

[2016-03-08 02:26] gsisaratsidis opened #63 "ANTIFORGERY_ID debacle"
I feel like I have all the settings set properly. Two nearly identical instances: one works fine, the other is having issues. The two Azure applications are set-up identically. I am very open to ideas and suggestions.

Consistently getting:
ANTIFORGERY_ID mismatch. Expecting {5001CD3E-DD9E-7999-EECA-14B6A9F6606D}

[2016-03-08 02:28] psignoret commented on #63
Are you running a single instance? Or load-balancing multiple instances?

[2016-03-08 02:30] gsisaratsidis commented on #63
Running a single instance.
One instance is located on our dev server with a 172.x address and that one is working fine.
The instance on shared hosting is getting the above referenced error without fail. They are configured as two separate applications but almost identical (other than the obvious, URLs etc).

[2016-03-08 02:35] psignoret commented on #63
What server stack are you using? (Apache? IIS?) Do you have Session support enabled for PHP?

[2016-03-08 02:45] gsisaratsidis commented on #63
Apache 2.2.15 on CentOS 6.7 ; Session support enabled.

[2016-03-08 02:53] psignoret commented on #63
Did you cover the basics (completely clean browser session, disable other plugins, etc.)? If so, can you shoot me an email to philippe.signoret@outlook.com with the details of your blog?

[2016-03-08 02:57] gsisaratsidis commented on #63
I have covered these, unfortunately. I have e-mailed as requested. Thank you for your help!

[2016-03-08 05:14] psignoret opened #64 "Use wp_remote_get instead of file_get_contents in AuthorizationHelper"
Some installs don't like `file_get_contents`.

[2016-03-08 06:47] psignoret opened #65 "Bad resource requests in login page can cause state value to reset"
Need to explore a mechanism to generate state values only when generating the sign-in link, not necessarily on every request to `wp-login.php`.

As a case study: The **MAYO - Login Screen** plugin allows the user to set a background image for the login page. In doing so, it adds this style:

[code]

However, if the user does not set a background image, this will result in the following CSS:

[code

[2016-03-08 07:00] psignoret commented on #63
For future reference, there were two issues:

1. The state (ANTIFORGERY_ID) value was being re-generated due to a mis-behaving plugin injecting, as CSS, a background image URL as: `url('')`. This resulted in a second request to `wp_login.php`, making the original state value invalid. Work-around for the plugin in question is to use a transparent 1-pixel image instead of no image at all. More detai

[2016-03-08 07:00] #63 closed

[2016-03-08 07:01] psignoret commented on #65
Thanks to @gsisaratsidis for discovering via issue #63!

[2016-03-08 07:02] psignoret commented on #64
Thanks to @gsisaratsidis for discovering via issue #63!

[2016-03-08 07:08] #64 closed

[2016-03-08 09:47] psignoret commented on #63
* Reported issue at: https://wordpress.org/support/topic/empty-background-image-results-in-duplicate-loading-of-wp-loginphp
* Trac ticket with patch for fix: https://plugins.trac.wordpress.org/ticket/2488

[2016-03-10 15:25] alefort opened #66 "Where do I find the Azure Group Object ID?"
Thank you for a wonderful plugin that has so far worked well for authenticating users without groups. We are trying to connect users to groups but cannot find the Azure Group Object ID for the groups we want to map into WordPress.

Can you direct me as to where I can find these IDs?

[2016-03-10 15:59] psignoret commented on #66
From the Azure portal -> Active Directory -> (Directory) -> Groups -> (Group) should have it.

Alternatively, you can use the Azure AD PowerShell module:

[code]

Or Graph Explorer (https://graphexplorer.cloudapp.net) -> Sign in -> `https://graph.windows.net/(domain name or tenant ID)/groups`.

[2016-03-14 13:18] jblanier02 opened #67 "Any thoughts on supporting Azure AD B2C"
Any thoughts on support for Azure AD B2C Directory?

[2016-03-18 13:19] richthomsen opened #68 "How to add multiple groups? - WordPress role to Azure AD group map"
I've setup the latest version but not sure how to enter multiple groups.  How or can the plugin setup accommodate multiple groups for the same role (eg. 2 groups both have administrator access).

[2016-03-18 15:44] psignoret commented on #68
The plugin only supports one group, at the moment. What you can do is create a new group (e.g. "WordPress admins") and add both of your groups to that one.

(In other words, this plugin does work with transitive group memberships.)

[2016-03-18 20:20] richthomsen commented on #68
It would be great to be able to add multiple groups with a comma.  Where do these settings get stored now?  Is there a file I can edit to replicate what we did with the original Settings.json?

[2016-03-29 01:37] alefort commented on #66
That did the trick! Thanks!

[2016-03-29 01:37] #66 closed

[2016-03-29 01:40] alefort opened #69 "Mapping Azure AD Group to Custom WP Role"
In your documentation for the AzureAD to WP role mapping, you have the following note:

Valid values for roles are `'administrator'`, `'editor'`, `'author'`, `'contributor'`, `'subscriber'` and `''` (empty string).

Is this the only valid values? We have custom roles created in WP with custom capabilities and we want AzureAD groups to map to these custom roles. Can it be done?

[2016-03-29 01:48] psignoret commented on #68
(Sorry about the late response here.)

The settings are now stored in the WordPress database, which is about a million times better (more secure, for one) than the JSON file lying around. I strongly recommend against trying to edit the settings in the database directly--consider this unsupported, as I'm entirely unsure what the behavior would be.

However, you questions does bring up that fact tha

[2016-03-29 01:55] psignoret commented on #69
Are you using the latest version of the plugin, that has a settings page?

In the settings page (`Settings` > `Azure AD`), under "WordPress role to Azure AD group map", you should see all roles listed, including custom roles.

[2016-03-29 01:56] alefort commented on #69
We are still using the version that has settings in the Settings.json file only.

[2016-03-29 02:00] psignoret opened #70 "Add support for B2C directories"

[2016-03-29 02:02] psignoret commented on #67
Apologies for the late response. I do have thoughts on supporting Azure AD B2C. Right now priorities are:

1. Getting the plugin submitted to the official WordPress plugin directory (for upgrades, etc.).
2. A few minor usability and feature enhancements (nothing too big).
3. Support for group picker, B2C, etc.

[2016-03-29 02:03] psignoret commented on #67
I've added #70 to track the specific feature of supporting B2C.

[2016-03-29 02:04] psignoret commented on #69
I *strongly* recommend upgrading. If you leave the Settings.json file, the new version should detect it, and offer to import the settings (and delete the file, which poses non-trivial security risks).

[2016-04-05 18:52] richthomsen commented on #68
It would be great to have the multi-group capability.  Our processes for adding new groups are very slow and WordPress efforts are generally focused on fast results.  Thanks!

From: Philippe Signoret [mailto:notifications@github.com]
Sent: Monday, March 28, 2016 8:49 PM
To: psignoret/aad-sso-wordpress <aad-sso-wordpress@noreply.github.com>
Cc: Thomsen, Rich <Rich.Thomsen@bluecrossmn.com>
Subject:

[2016-04-05 20:05] psignoret commented on #68
I just pushed an update here to GitHub that allows you to provide comma-separated list of group object IDs, instead of just one. (The UI and the documentation doesn't mention this yet, but it works.) Let me know if you have any issues.

[2016-04-05 22:13] bradkovach commented on #69
For the record, any valid role slug should work, even with the old `Settings.json` files.

[2016-04-05 22:15] bradkovach commented on #68
Would it be beneficial to add JS to the UI allowing for more than group
object ID per WordPress role?

On Tue, Apr 5, 2016 at 2:07 PM, Philippe Signoret <notifications@github.com>
wrote:

--
Brad Kovach
https://bradkovach.com

PGP key available at https://bradkovach.com/pgp
If you need/want to send me an encrypted message, visit
https://bradkovach.com/message

[2016-04-06 02:59] psignoret commented on #68
@bradkovach I'm working on #9, which will continue support for multiple groups per role.

@richthomsen I'm closing the issue, but feel free to reopen if you have any issues using commas to separate multiple group object IDs.

[2016-04-06 02:59] #68 closed

[2016-04-06 03:13] psignoret commented on #68
Apologies, I just realized I hadn't actually pushed the changes to GitHub. I have done so now. You can "upgrade" by just replacing the plugin files with the latest.

[2016-04-06 15:07] richthomsen commented on #68
I added two groups, separated by commas, and it appears to work, thanks!

[2016-04-12 14:42] alefort commented on #69
All is well now. Not sure what was causing the issue originally. As @bradkovach mentioned, it should have worked with the old settings, however I found a note in the documentation for the older plugin that listed only the default groups.

The new plugin works, so I'm going to close the comment.

[2016-04-12 14:42] #69 closed

[2016-04-13 00:55] alefort opened #73 "Assign Multiple Roles"
Our requirements are such that we need to apply more than one AD role to WordPress users. Your logic in `update_wp_user_roles` is only capable of assigning one role. I've modified it slightly to use `add_role` instead of `set_role` since `set_role` wipes out any previously assigned roles.

Is this something you would want to include in your plugin?

Cheers

[2016-04-13 01:04] psignoret commented on #73
Sounds interesting. It would be important to *only* assign the roles that they were eligible for (and wipe it any previous ones), but I do agree that there's no reason to limit it to a single role.

Send a pull request, I'd welcome the contribution!

[2016-04-13 04:32] woodwardmatt opened #75 "Q: Does this work for Wordpress Multisite?"
Hi there,

Just found your plugin and was wondering if it works with Wordpress under a Multisite configuration?

Our flow is usually:

1. User creates a user account.
2. User is directed to the child site setup admin pages to create their own site.
3. User's site is provisioned and can be accessed by the user.

This is currently all working with the standard alone user accounts but very keen to se

[2016-04-13 04:53] psignoret commented on #75
I have tested this with multi site, at least for the  basic scenarios.

Give it a shot and let me knowing you have any issues, your scenario sounds pretty interesting.

[2016-04-14 02:27] woodwardmatt commented on #75
Hey @psignoret - thanks for the response!

I've done some initial testing and all is looking good so far. I've only activated the plugin on the parent / root site (as I'm figuring the child sites wouldn't want / need to setup individual settings - all sites will use a single client app id from Azure AD). This basically then means all child sites need to login via the parent site to be able to use

[2016-04-15 08:46] TheMetroGuy opened #76 "User unable to access the admin panel"
I created AD application and linked the plugin with AD.

Users are able to login when I set the default role to 'Administrator'. But when the role is set to anything else like 'Author' or 'Editor' etc then they are able to login and see the top black bar on the site but not edit or post anything.

Accessing /wp-admin is showing 'You are not allowed to access this part of the site'.

Any idea what

[2016-04-15 08:54] psignoret commented on #76
Would you mind sharing how you've configured the plugin (don't need any actual IDs and definitely not the secrets, just what you've set the checkboxes and drop downs to.

[2016-04-15 10:07] TheMetroGuy commented on #76
Find the screenshot here
https://drive.google.com/file/d/0B1syX0dZAWTyX3RjMFdCbGlYWFk/view

[2016-05-11 09:36] eduh opened #77 "Logon only succeeds for one user"
We did setup the plugin\azure according to the readme and were very happy that it worked out of the box. However the login+provisioning only succeeds for one person (me)  which is very strange.
We do not do anything with role\groups so that may not be the issue. Authentication at the adfs server at our institution succeeds but Wordpress is throwing you away. Is there any way to get debug info from

[2016-05-11 09:39] psignoret commented on #77
What error message are you getting?

Can you share how you've configured the plugin?

[2016-05-11 11:39] eduh commented on #77
![azure](https://cloud.githubusercontent.com/assets/1076033/15179644/66556378-177d-11e6-9420-b6d81a4f9eea.png)

This is the config ...all others options are left unselected or blank.
The error does not live in the Wordpress site. When it fails you are redirected to th e ADFS server with a dutch message saying something like 'we have received a invalid request'

[2016-05-11 11:41] eduh commented on #77
BTW:  I can give you access to our wp site if that helps. It is in a testphase

[2016-05-11 13:27] psignoret commented on #77
First try copying the Client ID (a Guid) instead of the App ID URI into the client ID field.

[2016-05-11 14:28] eduh commented on #77
Will do...only I'm away for a few weeks now ....so will continue begin june

[2016-05-11 14:29] eduh commented on #77
Although I'm still confused that it works for only one account.....is it possible it relates to permissions on the AD ?

[2016-05-11 14:39] psignoret commented on #77
I need to know what error message you're getting. Is it an error from Azure AD (login.microsoftonline.com)? Or is it an error from your AD FS? If it's an error in Azure AD, what is the specific error message (at the bottom)?

Do you see this error when you try accessing this on a new session (e.g. Chrome's "incognito" mode)?

[2016-05-11 15:03] eduh commented on #77
Things get stranger. One of my collegues has a successful login after many retries......  Will check further in june.

[2016-05-11 15:04] psignoret commented on #77
Ok, but please send me more details on the error message you get. There's very little I can do with the information you've provided so far.

[2016-05-11 16:56] eduh commented on #77
Will do ...in june. Keep you informed.

[2016-05-24 01:34] laiello opened #78 "Groups not applying"
Hello,

I've configured this on a wordpress site and its working great, very good work. Unfortunately, the group assignments are not working correctly.

I've added the group object ID from azure AD, however when I login, no role is being assigned (just Subscriber, which is default). If I manually give myself administrator and then login again, it reverts back to Subscriber so that part is working

[2016-05-24 03:54] psignoret commented on #78
I'm assuming your configuration looks like the following:

![image](https://cloud.githubusercontent.com/assets/231140/15491480/9d01e8e0-2125-11e6-9e02-29376de6c9c4.png)

(If it doesn't, then let me know.) If so, then the only reason I can think of for this to fail is if the request to check the authenticated user's group membership is either (a) failing completely, or (b) not finding that the user

[2016-05-24 10:47] laiello commented on #78
That's a valid assumption.

I tried the graphexplorer and I get a: Request_ResourceNotFound when querying:

https://graph.windows.net/MYDOMAIN.com/GROUPOBJECTID

I have confirmed that the groupID matches the Azure COnsole (in fact, it doesn't find any of them).

The delegated permissions are like this:

![2016-05-24 03_46_58-active directory - microsoft azure](https://cloud.githubusercontent.com/a

[2016-05-24 16:00] psignoret commented on #78
It sounds like you have the object ID wrong, or you are providing object IDs of groups that are in a different directory. Where, specifically, are you getting the object IDs from? Is there a chance the user you're signing in as is actually in a different directory ("sourced from another Azure AD", in the 'USERS' list in Azure AD)?

[2016-05-24 22:37] laiello commented on #78
"Sourced From" is "Microsoft Azure Active Directory" in the Users tab

I am getting the object IDs by selecting the group and then going to the Properties tab
![2016-05-24 15_36_50-active directory - microsoft azure](https://cloud.githubusercontent.com/assets/671054/15522158/5e15b7b0-21c5-11e6-8de8-a030fd9277d7.png)

[2016-05-24 23:16] psignoret commented on #78
Oh, I just realized I made a mistake earlier: can you try the Graph Explorer thing again, but with this path:

    https://graph.windows.net/{tenant-id-or-domain}/groups/{group-id}

[2016-05-26 17:37] psignoret opened #79 "Add option to override Azure AD authority endpoint"

[2016-05-26 17:38] #79 closed

[2016-05-27 02:44] laiello commented on #78
Thanks, looks like I am making some headway, now receiving:

ERROR: AAD user USER@MYDOMAIN.com is not a member of any group granting a role.

This seems to be working on my test side, but not production (two different "applications" with their own client ID/secret) - The Role/Group mappings are the same.

[2016-05-27 02:50] psignoret commented on #78
Can you send me a message to philippe.signoret [at] outlook.com? (We'll report back as soon as we have a resolution.)

[2016-05-31 03:49] woodwardmatt commented on #75
Hey @psignoret - Have put this through a few different scenarios and its held up very well, certainly works with WordPress Multisite without any issues from my side as far as I know :)

The mapping back to standalone users by email is working well, I haven't had to use groups in my scenario so can't make any claims there.

Have you had any thoughts to have an option to "pass a prompt=admin_consent

[2016-05-31 03:51] woodwardmatt commented on #75
The reference for the admin endpoint idea can be found [here](https://azure.microsoft.com/en-us/documentation/articles/active-directory-integrating-applications/#overview-of-the-consent-framework) under "Triggering the Azure AD consent framework at runtime".

[2016-06-15 01:11] woodwardmatt commented on #63
Just to note for anyone else experiencing this, I have also seen the same behavior under the scenario where you may display the login link in multiple places e.g. in my case on a sidebar, then as part of the content of a page. (This was under a Buddypress implementation)

I just removed the sidebar for that particular page, but general rule seems to point to one instance of the link per page :) Ho

[2016-06-15 14:02] psignoret commented on #63
Thanks, @woodwardmatt. Another reason to make the anti-forgery generation more robust. Tracking this via #65.

[2016-06-15 14:20] bradkovach commented on #65
Could the WordPress nonce facility be used for this?

[2016-07-03 05:05] mike12121212 opened #80 "Assign AD group to Wordpress Group"
Currently a user is assigned to a WordPress Role based on their Azure AD group.  Using this plugin: [https://wordpress.org/plugins/contexture-page-security](https://wordpress.org/plugins/contexture-page-security)/, I have also created groups in WordPress that I would like to assign a user to automatically based on their Azure AD group.  How can I accomplish this?

[2016-07-03 11:36] psignoret commented on #80
Since WordPress does not natively have any concept of a "group", this is not high on the list of priorities for this plugin. The main reason is that there are multiple WP plugins that introduce a concept of "groups", but they are not all implemented the same.

One approach that I would consider is to make some information about the user available to other plugins (e.g. the list of Azure AD group m

[2016-07-05 17:33] richthomsen opened #81 "Azure Signing Key Rollover?"
Is there support or plans for Key Rollover for the SSO plug-in?   If I understand this correctly, I am going to have to manually update all the keys for (many) WordPress sites that are using this SSO method.  Can you help?

https://azure.microsoft.com/en-us/documentation/articles/active-directory-signing-key-rollover/?WT.mc_id=azurebg_email_Trans_1150_Azure_AD_Certificate_Rollover

[2016-07-05 21:20] psignoret commented on #81
No, you don't have to do anything.

This plugin does verify the signature of the ID Token*, and it does it by reloading the signing keys (from the [JSON Web Key Set document](https://tools.ietf.org/html/rfc7517)) every time a user signs in. This means that as soon as the new signing keys are used by Azure AD, the plugin will already be verifying the token signature with the new signing keys. (If y

[2016-07-05 21:20] #81 closed

[2016-07-05 21:23] psignoret commented on #81
Note: The other signed token involved in this plugin is the Access Token (used to fetch a user's group memberships from the Azure AD Graph API). The Access Token signature is validated by the Azure AD Graph API itself (it's just an opaque blob of text to the plugin). The Azure AD Graph API already knows how to deal with key rollovers.

[2016-07-06 15:47] psignoret commented on #77
It's July now. :) Did you get a chance to reproduce this?

[2016-07-07 09:57] eduh commented on #77
Hi,
Sorry for not getting back earlier. I did some testing right now with three other persons and every logon was succesful.  I will do some testing with the guys where the initial login failed but they are out of office until next week so I will get back and let you know if the problem has dissappeared. But for now it looks if the  problem does not occur.

[2016-07-07 10:16] eduh commented on #77
Hi,
Just got  testresults back from the the other collegues and yes...they can logon without any problem. So it looks like the problem is solved. Perhaps there was some latency between all the config changes in Azure....  Problem solved and thanks for the assistence

[2016-07-07 10:16] #77 closed

[2016-07-09 20:34] mike12121212 commented on #80
I appreciate your response.

[2016-07-09 20:34] #80 closed

[2016-07-18 21:15] psignoret opened #82 "Use pass the key array to `JWT::decode` so it can choose it's own key."

[2016-07-19 15:55] ksystems opened #83 "UPN username domain stripping"
Hey,

I was previously using a saml plugin to login with our ADFS directly. As part of this the windows account name was sent as the username to wordpress.

As this plugin uses the full UPN it's not possible to match the existing user as the UPN has our domain appended to it. Would it be possible to compare the username using both the UPN and also the UPN with the domain stripped off. The domain s

[2016-07-21 00:08] stephen-kainos opened #85 "init action causing PHP session for every visitor"
[code]

Appears to create a PHP session as intended, however it creates a new session for every visitor of the website even if they are not logging in. This can effect websites behind reverse proxies such as Varnish, as they would be configured to not cache active sessions.

I've successfully moved this action to the login_init

[code]

Everything still appears to be working as expected, including

[2016-07-21 07:38] psignoret commented on #85
Thanks for finding this, and proposing a fix! A few minor notes:

- The session needs to be started before `save_redirect_and_maybe_bypass_login`, which also hooked by `login_init`, so adding explicit [priority](https://developer.wordpress.org/reference/functions/add_action/#parameters) may be a good idea.
- [Functions that currently use `$_SESSION`](https://github.com/psignoret/aad-sso-wordpress/

[2016-07-21 08:19] stephen-kainos commented on #85
I've had a look through the functions using $_SESSION and they all appears to be initiated from the `authenticate()` pluggable function. Since this is called on the login form submission then having the $_SESSION creation on the login_init, when the login form is initialised should be okay.

I'll add in a priority between the 2 login_init actions and submit a pull request for this

[2016-07-22 11:47] psignoret commented on #85
Just one correction (irrelevant to your conclusion): `AADSSO::authenticate` is called whenever `wp-login.php` is loaded, with `action=login` (or no `action`, which default to `login`), not when the login form is submitted. As an example, this is the call path for an unauthenticated user visiting `.../wp-login.php` (line numbers and links for WordPress 4.5.3):

1. `wp_signon(, )` called at [`wp-log

[2016-07-24 17:48] psignoret commented on #33
I'm going to close this for now. Feel free to open it again if you're still having this issue with the latest version of the plugin.

[2016-07-24 17:48] #33 closed

[2016-07-24 17:54] psignoret commented on #67
I'm going to close this for now, with issue #70 specifically tracking B2C (if by then there isn't already a plugin ([ahem](https://github.com/AzureAD/active-directory-b2c-wordpress-plugin-openidconnect))) that does this.

[2016-07-24 17:54] #67 closed

[2016-07-24 17:55] psignoret commented on #70
Originally requested in #67

[2016-07-24 17:55] psignoret commented on #70
Originally requested in #67

[2016-07-24 18:00] psignoret commented on #76
@TheMetroGuy I'm going through open issues, and I just realized I never saw your reply -- I do apologize. Since it's been so long, I'm going to close this issue, but if you're still having any problems, please feel free to open it up again and we can investigate what's going on.

[2016-07-24 18:00] #76 closed

[2016-07-24 18:47] psignoret opened #86 "Link to request admin consent"
Idea from issue #75.

E.g. A query parameter in the `wp-login` page (so that non-admins can have a link that they can share with their directory admins when they ask them to consent).

[2016-07-24 18:48] psignoret commented on #75
@woodwardmatt Going through open issues here, and realized I never followed up with you here, I apologize.

Adding `prompt=admin_consent` for all sign ins would not be a good approach, as this would (a) fail for any non-admin with a "AADSTS90093: Does not have access to consent.", and (b) re-prompt admins every time the signed in.

However, the idea of generating a link that directory admins can u

[2016-07-24 18:48] #75 closed

[2016-07-24 18:53] psignoret commented on #78
@laiello I'm going to close this issue for now. If you're still experiencing this problem, please feel free to re-open it and we can dig into the problem.

[2016-07-24 18:54] #78 closed

[2016-07-25 02:43] woodwardmatt commented on #86
@psignoret thanks for opening this ticket :)

[2016-07-25 11:42] psignoret opened #88 "Avoid class name conflicts with Firebase/JWT"
Figure out the best approach to avoid class name conflicts with external libraries (e.g. \Firebase\JWT\JWT, loaded by another plugin using `firebase/php-jwt`).

Options:
- Change the namespace (I don't like this particularly, since it requires making the change every time the library is updated).
- Add an option to use already-loaded libraries. If class_exists, then don't attempt to declare. Would

[2016-07-25 11:44] psignoret commented on #28
This specific issue was fixed in #87, since Zendesk is not using a namespaced version of the `JWT` class. I've created #88 to track finding a better way to avoid the general case of class name collisions when two plugins load the same library.

[2016-07-25 11:44] #28 closed

[2016-07-29 15:48] stephenmahood opened #89 "User which is a member of multiple groups gets assigned the first alphabetical group"
Hi,

I have a use case where I have included all our employees as members of the author group, I then have a subset of this group assigned to an editor group.

These users are never assigned the editor role, and only receive the author role. I'm assuming that this is due to taking the first alphabetical match instead of matching based on the priority of the role.

Have you experience this behaviou

[2016-07-29 15:53] stephenmahood commented on #89
[code]

I think the break statement here is the cause. Due to this only the first role is matched and set

[2016-07-31 19:02] stephen-kainos commented on #85
sorry, you are completely correct. I misread the documentation there.

Submitting a pull request for this now

[2016-08-22 08:29] #85 closed

[2016-08-22 08:35] #89 closed

[2016-08-22 08:36] psignoret commented on #73
This is addressed in #90. Thanks!

[2016-08-22 08:36] #73 closed

[2016-08-22 08:40] #83 closed

[2016-08-22 08:48] psignoret opened #93 "Documentation: Add docs for username matching feature"
Feature #91 needs some documentation (in README and in UI)

[2016-08-22 10:20] psignoret commented on #93
Closed by #94

[2016-08-22 10:21] #93 closed

[2016-08-22 12:21] #88 closed

[2016-08-22 20:33] psignoret opened #95 "Rename files to match WP style"

[2016-09-30 19:54] stephen-kainos opened #97 "Enb"

[2016-10-30 17:30] psignoret commented on #97
(Apologies for the delay, I'm still catching up on issues.)

Can you elaborate a bit more on how you would propose this be used? What would the dev/prod environments look like?

[2016-11-28 11:09] knightfabio opened #99 "Fatal error on activate Plugin"
Hello, Im use this plugin very weel in Wordpress by IIS and windows server. But in WordPress in Linux I received this error message on activate plugin:

erro fatal
Parse error: syntax error, unexpected T_STRING in /home/storage/c/0e/04/dev108/public_html/teste/wp-content/plugins/aad-sso-wordpress-master/AuthorizationHelper.php on line 135

[2016-12-06 11:52] Jamesits opened #100 "HTTP 500 error after login on AAD"
[code]

[2016-12-06 11:57] Jamesits opened #101 "Feature request: Preserve user role for users already exist in WordPress"
With Azure AD group to WP role association enabled, I set the admin's email address to match that in AAD, then tried to login via AAD. Then my admin account is set to be a subscriber, and I lost control over my site. Have to alter the database manually to regain admin privileges.

[2016-12-06 11:59] Jamesits opened #102 "Compatibility with 2FA providers"
When [Two Factor](https://wordpress.org/plugins/two-factor/) plugin is enabled, a user cannot login using AAD if the user already exists and enabled 2FA.

[2016-12-06 12:38] psignoret commented on #101
The behavior you described is what is exactly what is intended (the Azure AD group membership, or lack thereof, in this case overriding the previous role persisted in WP. Did you expect something different?

[2016-12-06 12:55] psignoret commented on #100
Can you provide some more details on how you plugin was configured and at which point of the sign-in you received this error?

[2016-12-06 12:58] psignoret commented on #100
Actually, forget it, I see where the issue is. This can happen if creating the new user fails, and we try to log the result (since we expected it to be a user id). Need to add better error handling here.

[2016-12-06 13:02] psignoret commented on #99
Can you share what line 11 and line 135 are for your AuthorizationHelper.php?
Also, can you share details for the stack you're using (which OS version, which web server and version, and which version of PHP you're using)?

[2016-12-07 11:06] petervankoesveld opened #103 "External user support"
Hi,

Currently I'm investigating AAD integration with Wordpress.

My rowing club is currently using Office 365 to collaborate on documents. Eventually they want to share documents with members of the rowing (not all the users have access to Office 365 due licensing). Anonymous sharing is risky due the classification of the documents, we'd like to authenticate the members who access the documents.

[2016-12-07 12:31] psignoret commented on #103
Are these you want to collaborate on documents on SharePoint Online?

[2016-12-07 17:55] petervankoesveld commented on #103
@psignoret Correct the documents are in SharePoint Online. Users without an Office 365 license just need to view the documents.

[2016-12-08 09:36] ravicini opened #104 "Support for Windows Server 2016 and ADFS"
ADFS on Windows Server 2016 added some neat extensions like OpenIDConnect and complete OAuth2.

We do have a shared environment and tried to get your plugin up and running with Windows Server 2016 - and succeeded. ;)

Now I'd like to open a discussion if and how we want to integrate support for Windows Server 2016 to your plugin.

You see the changes in the following commit (not ready to integrate

[2016-12-08 23:55] psignoret commented on #103
Have you considered just using SharePoint Online's external sharing capability? https://support.office.com/en-us/article/Manage-external-sharing-for-your-SharePoint-Online-environment-c8a462eb-0723-4b0b-8d0a-70feafe4be85

External users don't require licences to SharePoint or Office 365.

What did you have in mind for using WordPress to collaborate on these documents?

[2016-12-19 16:49] mrdenny opened #105 "AAD Permissions"
In the docs you say that two permissions are needed in AAD, but I found that only the "Sign in and read user profile" permission is needed. Any more permissions than that will throw an error for non-admin users.

[2016-12-19 19:11] mrdenny opened #106 "AAD B2C"
I didn't see anything about this in the questions so far, or the docs.  Is Azure B2C supported with this solution?

[2016-12-28 11:07] psignoret commented on #105
The docs mention that "Read directory data" (Directory.Read.All) is only needed if the signed-in user's group membership will be mapped to WordPress roles. In reality, the minimum needed for this is the new(ish) permission "Read all groups" (Group.Read.All), but that permissions is still marked as "preview".

In any case, both of these permissions (Directory.Read.All and Group.Read.All) require ad

[2016-12-28 11:07] #105 closed

[2016-12-28 11:15] psignoret commented on #106
No, Azure AD B2C is not supported by this plugin at the moment. #70 (which you can find by [searching](https://github.com/psignoret/aad-sso-wordpress/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20b2c) issues for "B2C") is tracking this, but it is not in the immediate priority list.

If you need B2C support, you may want to look at [AzureAD/active-directory-b2c-wordpress-plugin-openidconnect](ht

[2016-12-28 11:15] #106 closed

[2016-12-30 00:04] mrdenny opened #107 "Azure AD is just redirecting back to WordPress login page"
One of the sites which I've setup AAD for using this plugin is just being redirected back to the WordPress login page when I try to authenticate using AAD.  I had AAD setup to auto redirect but that was just getting into a redirection loop. When I disabled the plugin and logged in via WordPress auth and enabled the plugin then went into the settings and disabled the auto redirect, when I click the

[2016-12-30 18:01] mrdenny commented on #107
And today it's just fine with no issues. Makes no sense as nothing has been changed.

[2016-12-31 02:05] mrdenny opened #108 "Bypass First Authentication Page"
When logging in via this plugin it first takes you to the generic Microsoft Authentication page. Is there a way to have it take us directly to the co-branded version of the page bypassing the generic page and bypassing having it ask if you should use your AAD account or you Microsoft Account (Life ID)?

[2017-01-02 10:04] zeechaudhry opened #109 "Get and Store AD Attributes for users"
I would like to build experiences for users based on their group membership and AD attributes. Since the plugin allows assigning wp-roles to groups, which by the way works great. But am struggling to find or understand how to get the AD attributes of the user and store then to users meta.

Is it even possible to get/store AD attributes? if so can you please tell how? Also do you plan to add this f

[2017-01-04 21:21] M-ine opened #110 "Great Job"
Hello,

Just want to say great work for the plugin. We are using it for our organization and it's works smoothly.
This is something we were looking for months!

Again, thanks and happy new year to the whole team!

[2017-01-11 14:05] bigbydesign opened #111 "SSO from Wordpress to 365 Email"
I couldn't find anyone asking about this or any specifics in the project. Once the token has been generated will it allow you to put a link to 365 email on your Wordpress site so that users can use email without re-authenticating?

Thanks,

Andy

[2017-01-12 17:34] psignoret commented on #111
You mean a link to https://www.outlook.com/contoso.com (where contoso.com is you company's domain name)?

[2017-01-12 17:40] bigbydesign commented on #111
Philippe,

This code really is not SSO as you have to fill out the username/password
twice? I want to be able to fill out the username/pass on the Wordpress
login page and then be able to access o365. Your code only "hooks" the
Azure AD login to Wordpress. It really can't be characterized by SSO as you
login twice? What about leveraging the adal.AuthenticationContext and
acquire_token_with_usernam

[2017-01-12 19:22] psignoret commented on #111
No, username/password is not filled out twice. Username, password, any other authentication factors that may be enabled are only filled out once: in Azure AD. I believe you are looking for the reverse, which is not what this plugin aims to do.

This plugin allows you to SSO *to* WordPress *from* Azure AD. (Keep in mind that signing in to Azure AD is equivalent to signing in to Office 365, Azure AD

[2017-01-12 19:22] #111 closed

[2017-01-12 19:24] psignoret commented on #110
Thanks for this great feedback!
Please let us know if you have any issues or feature requests.

[2017-01-12 19:24] #110 closed

[2017-01-12 20:20] psignoret commented on #108
Yes, the "Domain hint" setting will allow you to indicate to Azure AD which domain name you will be using, which will be used to load custom branded details (and if your domain name is federated, will automatically trigger the redirect to your on-premises identity provider):

![image](https://cloud.githubusercontent.com/assets/231140/21906614/3f74c630-d90c-11e6-895e-2b912f7ae6e9.png)

However, if

[2017-01-12 20:21] psignoret commented on #107
Indeed, it does not make too much sense. Feel free to re-open this issue if it comes up again.

[2017-01-12 20:21] #107 closed

[2017-01-12 20:35] psignoret commented on #104
Thanks for showing interest in this. (Sorry for delayed response.)

Integrating directly with AD FS isn't really the intent of this plugin. (I deliberately named it "Azure AD", to clarify it was not a generic OpenID Connect plugin.) Moving forward, I expect more organization will be looking to tie applications to cloud providers (e.g. Azure AD), instead of adding on-prem dependencies (AD FS).

Tha

[2017-01-12 20:37] psignoret commented on #103
@petervankoesveld I'm going to close this issue for now, but if you have any more details or questions for this, please feel free to re-open it.

[2017-01-12 20:37] #103 closed

[2017-01-12 20:38] psignoret commented on #101
@Jamesits I'm going to close this issue for now, but if you have any follow-up questions or additional details to share, please feel free to re-open it.

[2017-01-12 20:38] #101 closed

[2017-01-12 20:38] psignoret commented on #99
@knightfabio Have you had a change to gather those details?

[2017-01-12 21:03] psignoret commented on #109
It is possible to retrieve *Azure* AD attributes, yes. (Note that I put emphasis on the fact that we are talking about the cloud service Azure Active Directory, not about the on-premises Windows Server Active Directory.) This plugin obtains group membership details by querying the Azure AD Graph API for group membership details. When a new user is auto-provisioned (if the feature is enabled), then

[2017-01-26 20:54] andre4s commented on #14
Hi @psignoret,

What's the best way to diagnose errors in the absence of any messages? I get redirected to /wp-login.php but not logged in.

[2017-01-27 13:58] M-ine commented on #14
@Andre4s and @psignoret

From experience, there are 2 reasons why  each time you try to login, you get redirected to wp-login.php

1. Make sure you have PHP7.
From wp-login.php, when you click to login with O365, and upon succesfull authentication by microsoft, the url returned is quite long and completely ignored by PHP5 unless you make sure to increase the lenght for GET params. Because it is ig

[2017-01-27 21:06] andre4s commented on #14
@M-ine — added code [between lines 214 and 215](https://github.com/psignoret/aad-sso-wordpress/blob/master/Settings.php#L214-L215) but didn't seem to have an effect. Running PHP7.1 so URL parameters hopefully not the issue.

[2017-02-01 14:28] psignoret opened #112 "Conflict with VigilanTor plugin"
Per @andre4s in #14, there is a conflict with the VigilanTor plugin (https://wordpress.org/plugins/vigilantor/).

[2017-02-01 14:41] psignoret opened #113 "Detect overly-long URL and possibly switch to Form Post Response Mode"
In #14, @M-ine reports that some PHP versions can limit URL length which would cause issues in the Authorization Response is too long. Consider switching to [Form Post Response Type](https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html), or at least alerting if current settings might cause issues.

[2017-02-01 14:46] psignoret opened #114 "Detect empty or invalid cached OpenID config contents"
In #14, @M-ine observes that they have seen the cache return an empty string. Because we're checking the result using `===`, this is considered a successful cache lookup, and the configuration is not re-loaded.

Need to add better validation of the contents returned from the cache.

[2017-02-01 14:46] psignoret commented on #14
@andre4s: Thanks for the heads up, will look into it with #112 and see if we can play nicely together.

@M-ine: Both of these are interesting observations.

For 1, we can probably add an alert in the admin setting if the PHP value is too low. Alternatively (or in addition), we can change to the [Form Post Response Mode](https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html), which wil

[2017-02-01 17:49] cjh357 commented on #112
@psignoret Looking through Tor node lists a few seem to be hosted on Azure (or have 'Azure' in their name, at least), so might not be something you can do anything about.

[2017-02-03 13:07] M-ine commented on #14
@psignoret Thanks.
Glad to be of use. Keep up the good work.

[2017-02-07 16:41] andre4s commented on #35
Used this on a site and found that using `key` as the query string failed: it redirected as usual. Having done some digging, I guess it's probably because [`key` is used for password reset](https://github.com/WordPress/WordPress/blob/71fb840a24b6b9cffe9d6a16a283b875d7247d02/wp-login.php#L368). Both `auth` and `secret` worked, but the important thing I guess is not to use any parameters already use

[2017-02-08 11:37] psignoret commented on #35
@andre4s I'm a bit confused here. What query string are you referring to?

[2017-02-08 12:10] andre4s commented on #35
@psignoret I'm referring to [your code above](https://github.com/psignoret/aad-sso-wordpress/issues/35#issuecomment-162736279) that disables auto-forward when a certain query string is appended to the login URL. I didn't want to use `oops` and discovered by accident that `key` doesn't work as an alternative.

[2017-02-08 15:37] tarpey opened #115 "Access token"
After AAD authentication, where do I find the access token to make subsequent calls to the Graph API?

[2017-02-08 15:52] psignoret commented on #115
The plugin currently stores this in a session variable: `$_SESSION['aadsso_access_token']`, but it is not currently an intended scenario for other plugins to use this from there. (I'm saying that because I have a note to myself in the code that we should move it out of `$_SESSION` and place it somewhere else (or even destroy it after it has been used).)

Can you elaborate a bit more on what you're

[2017-02-08 15:54] psignoret opened #116 "A mechanism to share obtained tokens with other plugins"
Currently, these are in session variables, but I doubt that's the best way to share. Needs a bit of investigation.

[2017-02-08 15:56] psignoret opened #117 "Add a built-in lockout bypass mechanism"
Today, a filter can be added to bypass the automatic redirect to Azure AD, which can be used to save one's self from being locked out of the blog, if any of the configuration goes astray. In addition it would be good to add a built-in query string parameter to achieve this.

[2017-02-08 15:56] psignoret commented on #35
Ah! That's a great point! I updated [the example](https://github.com/psignoret/aad-sso-wordpress/issues/35#issuecomment-162736279) to use a collision-resistant value (like @bradkovach mentions). I also added #117 to track adding a built-in mechanism, to avoid having to set a filter.

[2017-02-08 16:00] tarpey commented on #115
Thanks. I found the line where it stores the token in a session variable but it seems empty for me.

I'm looking at how we might pull down [recent files from OneDrive](https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/drive_list), [Outlook events](https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/user_list_events), etc. Just seeing what is possible at this stage.

Each call r

[2017-02-08 17:28] tarpey commented on #115
Sorry just to follow up on this - I'm using the access token to make additional calls to Graph and I'm getting `Access token validation failure`.

Any ideas?

[2017-02-09 00:32] psignoret commented on #115
Microsoft Graph API is failing your token validation because the token obtained by this plugin is for the Azure AD Graph API (they're different, you can think of Microsoft Graph as an uber-API which wraps the Azure AD Graph API and all the other APIs).

There are two approaches you can follow. The first approach is one I can describe while typing on a phone, so I'm including it now. The second app

[2017-02-10 21:53] andre4s commented on #35
Have now encountered another issue: when using the fallback URL, the login form still posts to `/wp-login.php` (without the query string) and redirects to Azure anyway. Have experimented with manually changing POST URL to include string and it works as expected.

[2017-02-11 14:16] psignoret commented on #35
Interesting, in a past test of mine, the WordPress native login would kick in be for and prevent the redirect. Good find! I'll look into this and address it in the next couple days.

[2017-02-11 14:17] psignoret commented on #117
Also, it appears there might be an issue with the redirect kicking in when the native login form is posted.

[2017-02-15 15:16] tarpey commented on #115
Thanks for getting back to me. I'd be really grateful if you could elaborate on the second approach. We are likely to use role mapping so the second suggestion is more appealing.

[2017-02-17 13:28] teocomi opened #119 "Cannot log out user"
Hello, first of all thanks for the great plugin, I've installed it and it works very well a part from the logging out part. Here the steps to reproduce it:

- user A logs in
- user A logs out (from wordpress and from AAD)
- user B logs in from the same machine&browser
- he appears logged in as user A

Seems like the plugin is not deleting the token cache? Or might it be some misconfiguration on my

[2017-02-17 18:36] bradkovach commented on #119
Could you post a list or screenshot of active plugins?  Also, let us know if you're using the most recent version of the plugin?

[2017-02-17 19:21] bradkovach opened #120 "Feature Request: Improve versioning; add reference to repo in plugin header"
**low priority** **enhancement request**

I edited my in-use plugins to include appropriate plugin header metadata to utilize https://github.com/afragen/github-updater to facilitate automatic updates.

This plugin needs the plugin metadata header at `aad-sso-wordpress.php` to include the line `GitHub Plugin URI: https://github.com/psignoret/aad-sso-wordpress`

At each release, the Version field ne

[2017-02-20 10:30] teocomi commented on #119
Sure, it's a new wordpress installation and the latest version of the pugin (respectively 4.7.2 and 0.6a)

![image](https://cloud.githubusercontent.com/assets/2679513/23121089/ff6fb298-f756-11e6-8678-5e83343948de.png)

The theme is http://www.wpexplorer.com/pronto-wordpress-theme/

I forgot to mention that the only way I managed to log out the other user was by cleaning the browser cache.

[2017-02-20 14:43] psignoret commented on #119
How are you logging out the user (from the blog and from Azure AD)?

[2017-02-20 16:36] teocomi commented on #119
Yes: I click on "Log Out" in the blog and get redirected to the wordpress login page, then I click "Sign Out" and it goes through my company's azure logout correctly.
When I try to log in again, and select to use another user account, I then appear logged in wordpress as the first user...

![image](https://cloud.githubusercontent.com/assets/2679513/23133909/b4647174-f78a-11e6-87e6-37ec4f55d2e9.png

[2017-02-20 22:44] Bsalarius commented on #35
It seems like one method for preventing WordPress POSTing from the login form and causing the redirect is to add a snippet (or modify the snippet from above):

[code]

Hopefully this will help someone!

[2017-02-22 06:42] mottersen opened #121 "aad-sso-wordpress and ithemes security results in 414"
Just an fyi: If you use the defaults for the ithemes security plugin, you'll get a 414 error when you try to use aad-sso-wordpress.  ithemes will throw an error if the URI is too long (HTTP Error 414 Request URI too long).  An assertion from azure ad to wordpress will contain a very long URI.  problem solved.

[2017-02-22 09:04] psignoret commented on #121
@mottersen, thanks for reporting this. This would be addressed by #113.

[2017-02-22 18:39] mottersen commented on #121
This is the offending setting in ithemes:
**Filter Long URL Strings**
Limits the number of characters that can be sent in the URL. Hackers often take advantage of long URLs to try to inject information into your database.

Disabling that setting would be a workaround for the current version.  Hopefully #113 can address the length for a longer term solution.  Thanks for the great work btw.

[2017-02-24 12:03] warnubis opened #122 "I am not able to login with the plugin"
I Installed and configurated the plugin and my wordpress as you say in the tutorial.
If i try to login i come to the login page from Wordpress with the new link for the Azure Login.
After klicking the Link the screen is white and there is no action.

Are there some special requirements oder authorisation i have to set?
Do i have to create the Users in the Wordpress?

I have to say i work the first

[2017-02-24 14:55] psignoret commented on #122
Can you share how you have configured the application? (Do not share the client secret field--that's a secret. :smiley:.)

Can you also right-click on the link to sign-in (in the login page), copy the URL address, and share that? (If there is information there you would rather not share, please replace it with a placeholder so that I see that there was something there that you removed.)

[2017-02-27 10:56] warnubis commented on #122
Here are the pictures oft he config.

Link: https://login.microsoftonline.com/common/oauth2/authorize?response_type=code&scope=openid&domain_hint=&client_id=6a8f6886-3382-4c09-9afb-c3ec74e354a6&resource=https%3A%2F%2Fgraph.windows.net&redirect_uri=http%3A%2F%2Frg18.web2.casc.at%2Fwp-login.php&state=%7B6C3EBF0E-F8A5-70FA-8A0F-1666356CDE76%7D&nonce=%7B6C3EBF0E-F8A5-70FA-8A0F-1666356CDE76%7D

Thank y

[2017-02-28 00:27] warnubis commented on #122
![config_azure1](https://cloud.githubusercontent.com/assets/26003321/23386150/17de313e-fd55-11e6-8132-ce6d86217f78.png)
![config_wp1](https://cloud.githubusercontent.com/assets/26003321/23386149/17ddb09c-fd55-11e6-88e2-4daa9b7e4865.png)
![config_wp2](https://cloud.githubusercontent.com/assets/26003321/23386151/17df0960-fd55-11e6-83d0-0bbd103200fc.png)

[2017-03-03 19:59] JustinTrouble opened #123 "Possible conflict with Multisite User Sync plugin"
I just upgraded our working implementation to the latest (commit a3fbc7ec6dba452ee644d88540ad1bd1546c8d20), but it broke authentication.

After signing in to AAD, Chrome says it's `Waiting for <web site url>...` and there is a long pause (much longer than is normal), then a redirect to `wp-login.php?code=...&state=...&session_state=...`, at which point WordPress reports "Oops! That page can’t be f

[2017-03-04 10:41] psignoret commented on #123
@JustinTrouble Would you mind sharing how you've configured the plugin? Which features are you using? (I assume you're using the Azure AD group to WordPress role feature?)

[2017-03-04 12:18] JustinTrouble commented on #123
Hi @psignoret.

Indeed we are!

Configuration below (placeholder substitutes included):

**Setting** | **Value**
--------|--------
Display name | Web Site Name
Domain hint | Not set
Client ID | xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
Client secret | xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
Redirect URL | http://www.url.com/wp-login.php
Logout redirect URL | http://www.url.com/wp-login.php
Field to match

[2017-03-05 15:34] stephen-kainos opened #124 "Cache Headers set on init"
Currently it looks like PHP sessions are being initialised by this plugin on the init hook. (https://github.com/psignoret/aad-sso-wordpress/blob/master/aad-sso-wordpress.php#L475)

This causes the PHP session cookie, and the Cache-Control headers to be sent with the HTTP response. The problem is that this happens on every request to the WordPress site, even if we aren't authenticating.

This cause

[2017-03-05 15:48] #124 closed

[2017-03-05 23:52] psignoret commented on #124
@stephen-kainos Is this still an issue?

[2017-03-06 01:49] psignoret commented on #123
@JustinTrouble I can't seem to be able to reproduce this issue. Can you also list any other plugins you have enabled? If you disable the role -> group mapping, does the issue continue?

[2017-03-06 21:26] JustinTrouble commented on #123
@psignoret Thanks so much for taking the time to try and reproduce the issue.
Today I've had a good look at all the plugins we have installed, and after a bit of trial and error found that the issue occurs when used with the [Multisite User Sync](https://wordpress.org/plugins/multisite-user-sync/) plugin.
It's a tiny plugin (and despite what the two latest reviews say, it still works for me).

It

[2017-03-06 23:35] psignoret commented on #123
@JustinTrouble Thanks for the details. As you point to, this is quite possibly a conflict in how `multisite-user-sync` hooks into `set_user_role`. (Which is invoked when `aad-sso-wordpress` calls [`WP_User::set_role()`](https://developer.wordpress.org/reference/classes/wp_user/set_role/) with an empty string to clear pre-existing roles before granting the user the roles to which they are entitled

[2017-03-07 22:01] JustinTrouble commented on #123
Hi @psignoret,

Yes, a Multisite installation, consisting of 2 sites and 5 users.
It's the latest version of WordPress. So it was 4.7.2, but upgraded to 4.7.3 yesterday.

I mirrored my live site and disabled _all_ plugins except `aad-sso-wordpress` and `multisite-user-sync` and can confirm that it's `multisite-user-sync`.

The issue is present for both existing users, and users which are provision

[2017-03-07 22:18] bradkovach commented on #123
roles are assigned differently on multisite, so it's probably time for `is_multisite()` somewhere.  I can investigate this this weekend.  TBH, though, I haven't worked with WordPress multisite since it was its own standalone distribution.

[2017-03-07 22:38] psignoret commented on #123
@JustinTrouble Thanks, I'll use these details to figure out what's going on.

@bradkovach The plugin generally works on multisite, I test every now and then, I just haven't tested since we switched to supporting multiple roles. I'm pretty sure setting a role is still just `WP_User::set_role()` (e.g. L168 in [`add_user_to_blog()`](https://developer.wordpress.org/reference/functions/add_user_to_blog

[2017-03-10 10:35] sudar opened #126 "Default WordPress role if not in Azure AD group"
Even if the 'Default WordPress role if not in Azure AD group' setting is set to `(None, deny access)`, the user is created in WordPress.

Is this the expected behaviour?

If yes, is there any specific reason for creating the user even though he can't login?

[2017-03-10 10:42] sudar opened #127 "`upn` vs `oid` to uniquely identifying a user"
In the AD instance that I am using, users are added using their Microsoft account. Because of this `upn` is not set for these users.

We have changed the following line to use `oid` instead of `upn`. https://github.com/psignoret/aad-sso-wordpress/blob/master/aad-sso-wordpress.php#L281

I don't fully understand the difference between these two, but would it make sense to check for `upn` and if it i

[2017-03-12 23:54] acds opened #128 "usage with Network Sites"
How is this plugin best configured if you have a network of sites. One need an Azure AD Application registration and ClientID/Secret for each site in the network to have the URL's work?

For reference I'm not using WordPress MU Domain Mapping, but the native Network support.

Using the same Azure AD for all sites. Can you add an example to the documentation for this configuration?

[2017-03-14 10:01] warnubis opened #129 "Other Users can still Register for the Site"
I have the Problem, that other users (not members in the Azure Groups) can still get in and Register.
Although the setting for the default Role for Non-members from Azure AD Groups is **"none, deny access"**. What do i have to change?

Thx for the help

![azure_setting](https://cloud.githubusercontent.com/assets/26003321/23895288/8a28b6fa-08a5-11e7-870a-d318126162a6.png)

[2017-03-14 10:03] richardjgreen opened #130 "No Redirect to Azure AD Unable to Login"
Hi there,

I installed this plugin last night and configured it per the instructions. I have the link visible on the /wp-login.php page but when I click the link, nothing happens. The URL looks strange so me as I would be expecting the URL to point to login.microsoftonline.com or such but instead, it's pointing back to my own site?

Here's the link from the /wp-login.php page:
"https://richardjgre

[2017-03-14 11:57] psignoret commented on #130
@richardjgreen, what do you have as the setting in
**OpenID Connect configuration endpoint**?

[2017-03-14 12:13] richardjgreen commented on #130
The OpenID Connect Configuration Endpoint was set correctly, but I found another issue which sorted it.
I had the Application URL in AAD set to /wp-admin/ and not /wp-login.php.

After I updated that it started working a treat. My bad.

[2017-03-14 13:10] psignoret commented on #130
Interesting, the app ID URI and the "sign-on URL" in Azure AD do not have any effect on how the "sign in" link is constructed. It's good to know you have it working, though, feel free to reopen if it comes up again.

[2017-03-14 13:10] #130 closed

[2017-03-15 00:23] psignoret commented on #129
@warnubis What mechanism are they using to register for the site? Are they being auto-provisioned by Azure AD (like in issue #126) but being denied access? Or are they registering manually and getting access through WordPress' regular username/password sign-in flow?

[2017-03-16 08:40] warnubis commented on #129
I am not completely shure. I get many notifications that new members have registert tot he site. But all oft hem are not known by the owner oft the Azure.
The Mail-addresses sound much like spam-addresses. But how are they able to register?

Christopher Reither | Programmierung
casc - full service agentur
adresse: a-1160 / seeböckgasse 33/1
internet: www.casc.at
mail: chris.reither@casc.at<mailto:

[2017-03-27 10:55] radekbaranowski commented on #121
Yes, I'm upvoting this.

[2017-03-30 08:12] mzilliox commented on #128
Yep ! I'm in the same case : I would like one configuration for every site in my Wordpress network (An Intranet Network).

Thank's !

[2017-03-30 10:37] woodwardmatt opened #131 "Error after transferring Azure Client App to new tenant"
I've been using the plugin for a while now with no issues. I recently had to relocate the client apps in Azure to a new tenant (so had to delete and recreate the apps). I setup them back up exactly the same (with the exception of a non-expiring key). But no joy, I get the following error:

ERROR: Access denied to Azure Active Directory. AADSTS50000: There was an error issuing a token. AADSTS90092:

[2017-03-30 13:21] psignoret commented on #131
Which permissions have you configured the application to request (i.e. in the Azure portal)?
Does your user get prompted for consent when signing in?

[2017-03-30 13:28] psignoret commented on #131
Also, how did you register the app? (E.g. classic Azure portal (https://manage.windowsazure.com), Azure portal (https://portal.azure.com), PowerShell (New-AzureADApplication), Graph API)?

[2017-03-30 13:47] psignoret commented on #128
I haven't yet gotten around to adding an example, but this plugin does work for multi-site, but the plugin will need to be configured in each site.

I'll look into what it would take to be able to override the per-site configuration with a global network-wide configuration.

[2017-03-30 20:41] woodwardmatt commented on #131
Just one permission - read the user profile  & sign in. You do get prompted for credentials correctly and redirected back, then the error is displayed on the WordPress login page.  The app was registered through the Azure portal only.

[2017-03-30 20:42] woodwardmatt commented on #131
Ohh and thank you for responding soo quick :) 👍

[2017-03-31 05:18] woodwardmatt commented on #131
Some further testing today revealed it has something to do with trying to login with users outside of the tenant that has a custom domain associated with them... Users in the same tenant, or users with an onmicrosoft.com account are able to login just fine.

..Very strange, but definitely an Azure tenancy / permissions related issue. I'll update this thread once I found out the cause, for anyone e

[2017-04-05 20:58] psignoret commented on #131
@woodwardmatt Are all of the users who are trying to sign in users of the same Azure AD tenant? If there are users who are normally from a different tenant--have they been invited to the main tenant?

[2017-05-05 14:45] anormore commented on #128
Hi all, I just added to this to my MultiSite setup. We only have 5 sites, but in the future, will have 20+.

At the moment I have to configure this manually for each one.

@psignoret  you can just copy the site settings to each post instance. Better yet, mutlisite has a change_site(1), change_site(2), change_site(3) setting. So you can do some logic in the plugin. If( isMulitiSite){ change_site(0)

[2017-05-05 14:47] anormore commented on #128
Oh and further, I am using ONE Azure site setting across the board. You can specify individually, and in some cases have to. It's OK for our organization to redirect to the 'master site page'. But if you want to keep the user on that particular site, you MUST create another size in Azure for the reply URL to be different.

Of course, you could just do some PHP logic to remember where they're from

[2017-05-05 15:19] ChainsawBaby opened #133 "[Question] Windows Security"
I'm trying to set this up for a client, and they have the possibility to use their AD user to login on their computers, hence the SSO... 😜

I'm not familiar with Azure AD, but I managed to set it up for our Office 365 subscription, and AAD SSO login works.
And I think I got it somewhat setup on their AD too.
They click the link to login with AD, and is sent to adfs.domain.com (Active Directory Fed

[2017-05-05 15:57] anormore opened #134 "How to get Azure User Data?"
Love this plugin.

How does one pull in their Azure photo? We're building a front end, and I need their profile photo from Azure.

Maybe something like, $current_user->data->azure->display_photo ?

[2017-05-05 16:13] psignoret commented on #133
Is their domain name in Azure AD already federated with AD FS? What happens when their users try to sign in to https://myapps.microsoft.com?

In general, it doesn't matter whether or not the Azure AD tenant is federated to an on-prem AD FS (por other identity provider). As long as Azure AD is in the middle, this plugin will work.

How you set the settings depends on what experience you want to ena

[2017-05-05 16:15] psignoret commented on #134
If the thumbnail photo is in Azure AD, then this is possible, but requires a slight modification. Would you be using the photo from another plugin or a theme?

[2017-05-05 16:29] anormore commented on #134
Thanks for the quick reply!

We want to pull ALL user data authentication from Azure AD. So this means the profile photo set in Azure is the right one.

We can even pull that back and store locally on the WP side if need be, we just need to access it some how.

[2017-05-05 16:53] psignoret commented on #134
Ok, and if this is made available (for example, in a variable), how would you consume it? Via a plugin or a theme?

[2017-05-05 16:54] anormore commented on #134
Ahh I see.

Can’t this be made from your existing Azure plugin?

We would be access via theme at the moment.

Can it assign to current_user ?

From: Philippe Signoret [mailto:notifications@github.com]
Sent: May 5, 2017 12:54 PM
To: psignoret/aad-sso-wordpress <aad-sso-wordpress@noreply.github.com>
Cc: Andrew Normore <anormore@yorkvilleu.ca>; Author <author@noreply.github.com>
Subject: Re: [psignor

[2017-05-05 17:19] ChainsawBaby commented on #133
This is for an intranet, that is on the internet, so I have forced login on the site.
And the client wants to use single sign-on with their Azure AD, so they don't need to remember yet another username and password.
The settings are just what I setup with my AD, and I got it to work

[2017-05-05 17:41] psignoret commented on #134
Yes, this plugin can retrieve the data. My question is: then what? What would you do with it once it's as retrieved and made available in some way?

[2017-05-05 17:44] anormore commented on #134
Once the data is retrieved, can we add it to the user_meta table for storage?

I can then do $wpdb find azure_pic, if result 0, $azure->get_profile_pic from your plugin method – for example.

This allows me to display a users profile pic, from Azure.

I would probably do this action on LOGIN and REGISTER, so that if a user changes their profile pic, it will sync at next login.

From: Philippe Sign

[2017-05-06 23:17] bradkovach commented on #134
At a maximum, I think we should make this available available by a hook/filter via a companion plugin but syncing anything beyond role mapping seems like a rare use case.

[2017-05-09 15:09] ajowi opened #135 "Cannot Login WordPress site"
After successful authentication in Azure AD, application redirects me back to the WordPress login window.

The redirect URL is as below:
https://mydomain/login/?code=AQABAAIAAABnfiG-mA6NTae7CdWW7Qfdvvscuw-krjGuYJQ6KfBvom4sH-Ayj51U6zQZCTWqWksxMwv8T8FU_g5CiST_oDMBzeinTJ8dMl5WtPGSKOsp6UW7rH917D5g8toavIo0srHwxxl9SmU7Y_Jco4uoJ_LB4PcdNcZyh10AVqD-ltOp3XwZ2_0cYzrmmHccLfHQo6hiUEVLmDlZIrIjTbDuymjd_l5MoxhrKY

[2017-05-11 23:05] psignoret commented on #135
Does this also take place in a private browser session?

[2017-05-12 08:40] ChainsawBaby commented on #133
Huh, so the client managed to log in now. Only thing I got them to change was the App ID URI, because it had been reset to a Microsoft link for some reason

[2017-05-12 14:48] psignoret commented on #133
Ok, well, good to know it's working now! Feel free to re-open if this same issue comes back up.

[2017-05-12 14:48] #133 closed

[2017-05-12 14:50] psignoret commented on #127
Actually, it makes much more sense to use `oid` *always* (with adequate error handling if `oid` is not present). If you want to send a pull request with that change, you get the credit. :)

[2017-05-12 14:52] psignoret commented on #131
@woodwardmatt If you're still experiencing this issue, please feel free to re-open this.

[2017-05-12 14:52] #131 closed

[2017-05-15 16:52] lifespent opened #136 "Constant state of re-direct"
I've been using the plugin without any issues for the last 2 months. Today, however, when I go to login I'm in a state of constant redirect. Any one else having issues?

[2017-05-15 17:30] lifespent commented on #136
Working now. Almost seemed like the graph API went down.

[2017-05-15 20:13] psignoret commented on #136
I don't know of any Graph API or Azure AD outage that would have caused this. Let me know if this comes up again and we can look into it further.

[2017-05-15 20:17] lifespent commented on #136
@psignoret Will do. It was really weird. I have the auto-redirect turned on when someone hits the wp-login.php page. It lasted for about an hour or so. I ran a wget on the page and it kept looping w/ the 302 redirect. Was was really weird though is when I turned the auto redirect off and went to the wp-login page and clicked "log in w/ my office 365 credentials" I was redirected back to wp-login.p

[2017-05-16 10:05] jdadon32 commented on #100
is this solved? i am getting the same issue.

[2017-05-16 10:47] psignoret commented on #100
Are you seeing the exact same error message?

[2017-05-16 22:37] lifespent commented on #136
It's happening again.

`HTTP request sent, awaiting response... 302 Found
Location: ?response_type=code&scope=openid&domain_hint=&client_id=c5965c46-d555-4353-bb16-4943296afc3a&resource=https%3A%2F%2Fgraph.windows.net&redirect_uri=https%3A%2F%2Fthenavigator.polarisalpha.com%2Fwp-login.php&state=%7B0ACA481B-84FA-EAF8-B402-D7C29D2DEE36%7D&nonce=%7B0ACA481B-84FA-EAF8-B402-D7C29D2DEE36%7D [following]

[2017-05-16 22:38] lifespent commented on #136
It's happening again. Constant re-direct.

HTTP request sent, awaiting response... 302 Found
Location: ?response_type=code&scope=openid&domain_hint=&client_id=c5965c46-d555-4353-bb16-4943296afc3a&resource=https%3A%2F%2Fgraph.windows.net&redirect_uri=https%3A%2F%2Fsomewebsite.com%2Fwp-login.php&state=%7B0ACA481B-84FA-EAF8-B402-D7C29D2DEE36%7D&nonce=%7B0ACA481B-84FA-EAF8-B402-D7C29D2DEE36%7D [follow

[2017-05-16 22:42] psignoret commented on #136
Did you shorten the URL, or is there really not a `&code=[long-stuff]` parameter in the redirect?

[2017-05-16 22:44] lifespent commented on #136
There's really not &code it's working again now though. Really weird.

[2017-05-16 22:47] psignoret commented on #136
Ok, well, that explains the redirect loop (presence of `code` is what tells the plugin *not* to redirect), and can be addressed so that it fails more gracefully, but I don't know why you're not getting the `code` in the first place. Can you share details on browser and OS?  Also, when it happens, did you test with other browsers and other devices?

[2017-05-16 22:51] lifespent commented on #136
Yeah. I pulled that response info using a wget so it's browser agnostic. Here is a snippet of a wget that works.

wget https://somewebsite.com/wp-login.php
--2017-05-16 16:51:00--  https://somewebsite.com/wp-login.php
Resolving somewebsite.com (somewebsite.com)... 172.28.1.1
Connecting to somewebsite.com (somewebsite.com)|172.28.1.1|:443... connected.
HTTP request sent, awaiting response... 302 Fo

[2017-05-16 22:58] psignoret commented on #136
Actually, I take back what I said earlier regarding the *why*. I'm reading this much to quickly on an itty-bitty screen, which is not helping.  Which OS/browser are you seeing this on?

[2017-05-16 22:59] lifespent commented on #136
I saw it on Ubuntu 16.04 using Chrome and on Internet Explorer on Windows 10.

[2017-05-17 13:11] SniperXPX commented on #136
I am experiencing the same redirect issues as stated above. The issue persists on Chrome, Firefox, and Internet Explorer on Windows 7 x64.

What can I do to help you diagnose the issue?

[2017-05-17 15:32] SniperXPX commented on #136
Just an update, it seems that the redirect issue is no longer happening. Looking at @lifespent 's comments the issue rectified itself once before and it has now done it again. Perhaps it is something on Microsoft's end?

[2017-05-22 23:30] aaronware commented on #136
I'm still seeing it on an active install. The login will work for a user the first time. Then they will get stuck in the redirect loop after that. I've also seen reports of user saying it acted differently between Chrome and Firefox. Ex Chrome they could login the first time. Firefox they couldn't ever log in (Still awaiting more details)

[2017-05-23 07:33] psignoret commented on #136
@aaronware Can you shoot me an email at philippe.signoret@outlook.com with detail about your installation? We'll report back to this thread when we've figured this out.

[2017-05-24 16:29] aaronware commented on #136
@psignoret I think it might have to do with our setup. We were using Members(https://wordpress.org/plugins/members/) to create roles and to force users to be logged in. Do you have any suggestions for that functionality? IE we could check if user_logged_in() as early as possible and redirect to a proper URL. Which is pretty much what Members does.

[2017-05-24 16:57] lifespent commented on #136
@aaronware, this might work for what you're wanting. https://wordpress.org/plugins/redirect-to-login-if-not-logged-in/

[2017-05-24 17:00] aaronware commented on #136
Hey @lifespent thanks for the link. Yeah the idea behind that plugin is similar to what I would do. It's really only a few lines to implement. My big thing is just confirming forcing users to be logged in won't cause any issues with how aad-sso-wordpress works

[2017-05-24 19:19] psignoret commented on #136
@aaronware Do you wish to continue using Members, or do you want to move away from it? (In any case, I'll look into possible conflicts with the plugins.)

[2017-05-24 19:28] aaronware commented on #136
@psignoret it's be nice to continue to use the Members plugin as it's great for simple role and capability management and you get a 2for1 with the access restriction (But it is NOT required). There are other plugins (like the one @lifespent mentioned earlier) or Restricted Site Access or custom coding to do the job (literally 1 hook and a simple is_logged_in() would probably suffice. I think it's

[2017-05-24 19:32] psignoret commented on #136
I'd like to avoid overloading this plugin, and instead make it play nicely with other plugins that are already good at what they do. Ideally (and without so much as glancing at the Members plugin yet), in this scenario the Members plugin would just require to be signed in, which would "hand-off" the sign-in flow itself to aad-sso-wordpress.

Though I enthusiastically welcome pull requests, in this

[2017-05-24 19:35] lifespent commented on #136
@aaronware Redirect to login is what I'm using with this plugin. Works nicely.

[2017-05-24 20:13] bradkovach commented on #136
It might be beneficial to display a warning in the admin area that there are other applications are hooked to the login hooks...  We can't solve **everything** for every installation but we can be helpful.

[code]

Some interesting discussion here: https://wordpress.stackexchange.com/questions/17394/how-to-know-what-functions-are-hooked-to-an-action-filter

You should be able to get a count of the

[2017-05-25 07:29] litdeveloper opened #137 "Having issues with aad-sso-wordpress"
Hi, When my users try to login to one of my websites, it is throwing ANTIFORGERY_ID mismatch. Expecting <null>.

This happened when few plugins got updated last week (17th may 2017), i tried disable those plugins and login, but that did not help.

also "wp-login.php:1 This page includes a password or credit card input in a non-secure context. A warning has been added to the URL bar. For more infor

[2017-05-25 12:21] psignoret commented on #137
Can you share how you've configured the plugin, and what other plugins you have installed? Do you see this in other browsers and in Incognito/InPrivate browsing sessions?

The error you're seeing in the console is most likely not related to this. Is your blog on HTTP or HTTPS?

[2017-05-25 12:30] litdeveloper commented on #137
This tool was developed by someone else, who is not associated with us any more.

here is a SS of all the plugins we are using on this tool.
![image](https://cloud.githubusercontent.com/assets/5180664/26450187/cb029554-4173-11e7-909e-7a5ca0984cd9.png)

Yes i see this on other browsers and IC mode as well.

It's on HTTP.

Thanks.

[2017-05-26 03:54] woodwardmatt commented on #131
_Side Note_: Users are mostly from external tenants, and the app is setup to be multi-tenant. Users haven't been explicitly invited to our tenant.

Just another update (this has been going on a bit) the underlying issue was related to the old (deleted) client app Id being cached on tenants (and not removed, even though invalid) so when an existing user tried to login with my new app id , there was

[2017-05-26 08:58] psignoret commented on #131
Can you send me an email at philippe.signoret@outlook.com with details about your setup?

[2017-06-01 10:14] dineshcooper commented on #131
Experiencing exactly the same issue - was unable to get anywhere with microsoft support. Please do update here if you manage to work out a fix.

[2017-06-06 21:23] lifespent commented on #136
Constant redirect is happening again today

[2017-06-19 18:33] cdeli opened #138 "Not adding new users automatically"
Set up everything per the final instructions with adding Group ID's and auto registration. No users being added in the user portal after they have successfully logged in and given permission to the application.

![image](https://user-images.githubusercontent.com/5881028/27300143-a45d0140-54fc-11e7-80cc-dc97d51d7043.png)

![image](https://user-images.githubusercontent.com/5881028/27300161-bd7e4d1e-

[2017-06-19 20:27] psignoret commented on #138
Are you sure the user has actually signed in successfully to the blog? It's highly unusual that WordPress would consider a user "signed in" if there weren't a backing entry in the database.

What is the experience for these users after they sign in? Can they navigate to their profile page?

[2017-06-19 20:49] cdeli commented on #138
I was able to get the sign in to work properly after some work on my end, had a value wrong.

The problem I am running into now is that people in the group for Administrators are not being granted that level. They are instead being granted only subscriber. When I change the default to no group, it denys them access.

[2017-06-20 03:42] cdeli commented on #138
Issue got worse. Now even though I manually added 3 admins, they reverted to subscriber level for some reason. I now have to rebuild my whole site because they are not getting the proper levels even though they are in the proper groups.

[2017-06-20 05:54] psignoret commented on #138
This is the behaviour you would see if the users are not, in fact, members of the group you've given.

You should not be rebuilding your site just because your users got reverted to Subscriber. You can update the database manually to put your user back into Administrator (e.g. http://codingcyber.com/change-wordpress-user-role-database-using-phpmyadmin-3390/).

[2017-06-20 14:29] cdeli commented on #138
I can assure you that I am part of the group I built. I copied the ID myself and verified it. The only part is that the group is not assigned to the application because we do not have AAD Basic.

[2017-06-20 14:53] cdeli commented on #138
So no matter what I do the user always resets to subscriber. Now I have no administrators. What the hell do I do now??? I have changed the key 10 times and every time I log back in the user reverts from an Admin to a subscriber.

[2017-06-21 00:00] bradkovach commented on #138
Based on your images, i see you're using the new Azure Portal...  My instances are using Office 365, instead of directory-synced accounts, but everything else that follows should be similar.

That being said, Azure AD should be relatively agnostic to **where** the users are from, just as long as they're in AD... @psignoret may have more insight.

I'm still getting used to the new Azure Portal so b

[2017-06-21 01:12] cdeli commented on #138
I have gone through everything and double checked everything. Still not reading that I am in the admin group even when I created a new group in azure.

[2017-06-21 04:48] bradkovach commented on #138
@psignoret I don't have any installations synced with Active Directory, so I don't know if I can reproduce this.

@cdeli do you have access to a non-synced directory?

[2017-06-21 06:09] cdeli commented on #138
You mean a group that is not synced on prem? I did make one was a test.

[2017-06-21 06:42] psignoret commented on #138
@bradkovach I highly doubt this has anything to do with the fact that the directory is synced from AD. That's the most common use case.

@cdeli Can you send me an email at philippe.signoret@outlook.com, so that I can get some additional details from you? We'll report back here on what we find.

[2017-06-21 06:57] psignoret commented on #131
@dineshcooper I realize this is a super late response (sorry, I somehow missed the notification for this). Are you still having this issue?

[2017-06-21 14:09] cdeli commented on #138
I sent you an email @psignoret, however, I think we are on to something. Last night when I created the last comment I made a group that is not synced with on-prem AD and added my synced AD account to it. This morning I logged in with full rights as per the AAD Group Assignment that I had made. I am going to test some more with this, but it seems that the synced group is the problem from initial fi

[2017-06-23 19:34] psignoret commented on #138
@cdeli Though I'm happy it's working for you know, it's a but frustrating that we weren't able to figure out what the cause was. I think one thing that could use some improved debugging information (in additional to a group-picker experience to avoid copy-paste errors).

Feel free to re-open if you see this issue again.

[2017-06-23 19:34] #138 closed

[2017-07-06 11:34] JLags opened #139 "Username and/or Password is empty"
Hi,

I followed your readme but each time I try to login with Azure users it redirects me to O365 login (wich looks good) and then it redirects me to the worpress login with the error "Username and/or Password is empty".

I did the setup like the "Group membership-based roles, default role, auto-provision" example.

Any help would be appreciate :-)

Best.
J.

[2017-07-12 14:23] atlaspolicy commented on #100
I'm getting the exact same error. The new user exists in the WordPress directory so it seemed to work. I tried to login again and got the same error. Any ideas?

[2017-07-12 14:28] atlaspolicy commented on #16
Any updates here? An enhancement here would be great as external users added to a AAD can have an invalid email address (e.g., #live.com#username@domain.com). This makes it necessary to add all users to the WordPress site manually rather than doing auto provisioning, or fixing the email addresses after the auto provisioning.

[2017-07-12 15:30] psignoret commented on #100
Can you confirm that you're using the latest version from GitHub? Can you include the error message you're seeing?

[2017-07-12 15:34] atlaspolicy commented on #100
I am using the latest version -- I installed only a couple weeks ago. I was getting the exact same error as above. I removed the user from WordPress and it worked ok. Not sure what went wrong.

[2017-07-13 13:46] atlaspolicy commented on #16
For my purposes, I stripped out the '#' from the variable set to get_wp_user_from_aad_user(). It looks like jwt->upn is blank for external users, so the code uses jwt->unique_name instead. This is where '#' comes in. Once I stripped that out, the email address and username look like real email addresses and it seems to work well.

The call to wp_insert_user() had failed and there was no error hand

[2017-07-17 23:25] MajesticComputerTechnology opened #141 "Link redirecting to the login page"
Hi,

When a user tries to click on the link to login via Azure AD, the page link redirects the user to wordpress login page.

After configuring the APP on Azure Portal, I have kept pretty much all the options as default. The peculiar thing is that it was working until yesterday and all of a sudden it has stopped working now.

[2017-07-18 15:32] psignoret commented on #141
Have you been able to reproduce this issue on a completely fresh browser session (e.g. Chrome's Incognito mode)?

[2017-07-18 15:34] psignoret commented on #139
That is, indeed, quite strange. Have you tried disabling plugins you have which may have something to do with login? (Or, can you share the list of plugins you're using currently?)

[2017-07-19 08:59] JLags commented on #139
Hi,

Thank you for your answer, here is a list of my plugins (activated):
BuddyPress
CB Change Mail Sender
Contact Form 7
DP Pro Event Calendar
DT World Clock
Eonet Live Notifications
Eonet Live Search
File Away
Flamingo
Slider Revolution
Unyson
Wise Chat Pro
WP File Manager

[2017-07-19 09:34] JLags commented on #139
I made a fresh setup on another WP with another theme and it works.. So my problem is between the theme and the plugin..

[2017-07-19 12:19] #139 closed

[2017-07-19 17:13] bradkovach commented on #139
if you can narrow it down to the plugin, I would gladly investigate the conflict.

[2017-07-20 08:14] JLags commented on #139
THe thing is that the theme has it own custom login, here is the answer from WOFFICE:

"Unfortunately there isn't any way coming from Woffice for that. I don't know if exists any WordPress plugin for that, but likely you will need to disable the custom login page of Woffice."

So don't worry, your plugin is just awesome and working, I use it on my personnal WP now :) Thanks.

J.

[2017-07-20 10:49] psignoret commented on #139
@JLags, if you can put me in touch with the theme authors, I can work with them to investigate where the conflict is coming from, so that we can address it. Let me know!

[2017-07-20 11:42] JLags commented on #139
The theme is Woffice and I can only contact them from here: https://alkaweb.ticksy.com/

[2017-07-29 00:27] viperguynaz opened #144 "Error on 1st sign-in attempt"
getting the error:
`Notice: Undefined index: aadsso_antiforgery-id in D:\home\site\wwwroot\wp-content\plugins\aad-sso-wordpress\aad-sso-wordpress.php on line 239`

on the 1st attempt, the 2nd attempt logs in fine

[2017-08-19 19:07] mrinc commented on #102
Any updates?

[2017-08-20 14:44] psignoret commented on #144
@viperguynaz It's been a while since you opened this. Are you still seeing this issue? If you are, can you share the platform you're running WordPress on, and the plugins you're using? Does the issue still present if you disable other plugins?

[2017-08-20 14:46] psignoret opened #145 "Update docs for new Azure portal"

[2017-08-20 17:56] #145 closed

[2017-08-20 23:17] #117 closed

[2017-08-21 07:53] #31 closed

[2017-08-23 09:07] ChainsawBaby opened #146 "Auto forward but not back button"
I'm testing this plugin for a large company, and they want the users to automatically be redirected to the AAD SSO page, and that works.
But on that page, there are no buttons that allows me to click cancel, so I can go back to the old login page, and login with username and password
(we don't have access to their AAD service, only username and password for WP)

![https://i.bratteng.me/yokplO8rWr.

[2017-08-23 12:44] psignoret commented on #146
The screenshot you've shared is of the Azure AD sign-in page. This is something controlled entirely in Azure AD, not by this plugin.

If you've looking for a way to occasionally work around the redirect, you can use the `aadsso_no_redirect` URL option described here: https://github.com/psignoret/aad-sso-wordpress#bypassing-automatic-redirect-to-azure-ad-to-prevent-lockouts

Let me know if this add

[2017-08-23 13:04] ChainsawBaby commented on #146
Yes!

Didn't see that section. Updated the plugin and tried `aadsso_no_redirect` and it worked like a charm. Doing a minor edit so the security dudes will approve it.

[2017-08-23 13:04] #146 closed

[2017-08-25 11:57] payneauj opened #148 "User cannot login"
Hello,

I have configured the plugin and azure ad as explain.

I have created 5 groups under azure AD to match wordpress' groups.
The user is member of Azure Group named "wp_admin" match with "Administrator" wp group.

But when "Enable Azure AD group to WP role association" is checked, user cannot login and this message is displayed  : "ERROR: AAD user xxx@xxx.fr is not a member of any group grant

[2017-08-30 18:13] doulo commented on #148
Were you able to get this issue fixed? I am also having issues with this. Thank you for your help!

[2017-08-31 19:19] pstidsen commented on #148
I have the same problem. Any solution?

[2017-08-31 20:02] psignoret commented on #148
Is the user a regular local user of the Azure AD tenant? Or is the user an external user (e.g. from another tenant or a personal Microsoft account)?

[2017-08-31 20:06] doulo commented on #148
Local user for me. Have them in groups and have the Azure AD group object ID all connected too.

[2017-08-31 20:16] pstidsen commented on #148
I think I'm a local user, too.

Actually, I'm working as a consult so I don't now precisely how my AD user is created. But I think it is the "normal" way.

[2017-08-31 20:18] pstidsen opened #149 "aadsso_no_redirect parameter does not work"
Hi,

Even though I set the parameter ?aadsso_no_redirect=please after the login URL, I am redirected to the login page at Microsoft instead of the normal WordPress login page. The issue is the same with all plugins deactivated.

/ Peter

[2017-09-04 06:22] neelam-thakur commented on #135
I am getting same error. No WordPress session is being created after successful office 365 sign-in. Already tried in incognito window

[2017-09-04 10:30] neelam-thakur commented on #135
It is working fine now. Error was with my reply path settings.

[2017-09-05 17:26] doulo commented on #148
Hello, any update on this issue?

[2017-09-06 12:48] chris18890 opened #150 "Availability in wordpress.org plugins directory?"
Hi all,

I'm really liking this plugin & have successfully deployed it to two of my WordPress instances.

I'd really like to deploy it for some other clients, however I don't have SSH access to the WordPress install, only the admin web interface. Any idea when the plugin will be published in the plugin directory?

[2017-09-06 17:41] psignoret commented on #150
As soon as possible. I'm hoping in the next few weeks. I'll update here when it's done.

[2017-09-07 01:33] bradkovach commented on #150
Has been discussed in the past... https://github.com/psignoret/aad-sso-wordpress/issues/60

I think everybody is just busy with day jobs/life/etc LOL

[2017-09-07 01:38] bradkovach commented on #150
Resources I have found...

https://github.com/GaryJones/wordpress-plugin-git-flow-svn-deploy
https://github.com/bigbitecreative/paddle
https://gist.github.com/kloon/6487562
https://github.com/abackstrom/wp-whos-online/blob/master/release.sh

[2017-09-11 18:23] SniperXPX commented on #136
I was getting this error sporadically throughout my Wordpress site so I did some more digging around. Turns out Google Chrome caches a 301 redirect INDEFINITELY in the local cache if there isn't an expiration set in the Cache-Control headers. So I installed the plugin HTTP Headers and added a custom header Cache-Control: max-age:60 See more info here https://stackoverflow.com/questions/9130422/how

[2017-09-12 09:40] asifma commented on #149
Same problem here...

[2017-09-12 13:59] psignoret commented on #149
@pstidsen @asifma This was added very recently, in the very latest version of the plugin. Are you using this? If not, you can try `?action=aadsso_no_redirect`, which should have the same effect, even on older versions of the plugin.

[2017-09-15 07:10] psignoret opened #151 "Error when checking group membership displayed as "not a member""
If there's an error in the Graph API call that checks group membership (e.g. because the app has not been granted the required permissions), the error message just says the user is not a member of the group. Need to add error handling to distinguish between the two cases, and surface actual errors.

Possible reason for #148.

[2017-09-15 13:50] jjacobs1 commented on #151
I can't seem to get groups membership to work either. Tried everything I can think of. Getting a both "ERROR: AAD user XXXX is not a member of any group granting a role." and "ANTIFORGERY_ID mismatch. Expecting XXXX". If I set the default wordpress role of not in in Azire AD group everything works great, just not groups.

[2017-09-15 14:29] psignoret opened #152 "Group.Read.All is not sufficient permission to read group membership"
Revert back to Directory.Read.All in the docs.

[2017-09-15 14:39] #151 closed

[2017-09-15 14:43] #152 closed

[2017-09-15 14:51] psignoret commented on #148
I've reviewed this part of the code, and found that if the app registration in Azure AD is missing the required permissions, the plugin will report this as "user is not member of group", instead of "unable to check if user is member of group", which is misleading.

I further discovered that when I updated the documentation for the new Azure portal, I incorrectly made the statement that only the "R

[2017-09-15 14:55] psignoret commented on #151
@jjacobs1 Try again with the latest version of the plugin, and following the latest version of the instructions: https://github.com/psignoret/aad-sso-wordpress/issues/148#issuecomment-329805178

Let me know if this fixes the issue.

[2017-09-15 14:59] psignoret commented on #136
@SniperXPX Did this solve your issue, though? None of the redirects done by this plugin involve a 301 redirect, which is _supposed_ to be cached (301 is a permanent redirect). A 302 redirect, which is what the plugin uses, is not cached by most modern browsers, since it's the basis of most browser-based sign-in flows (e.g. OpenID Connect, OAuth 2.0, SAML 2.0, etc.).

[2017-09-15 15:00] chris18890 opened #153 "Query about upgrading the plugin"
Hi there,

I've downlaodded the zip of the plugin from the GH link, & uploaded to the wordpress site via the "upload plugin" function & it appears (deactivated) as version 0.6.2, version 0.6.1 is still showing as active.  What'st he best way to upgrade the plugin? I assume it would be to copy the app ID & secret key to notepad, deactivate 0.6.1 & activate 0.6.2 & re-enter the details?

[2017-09-15 15:01] psignoret commented on #144
@viperguynaz I'm going to close this issue for now, but please feel free to reopen it if you're still having issues.

[2017-09-15 15:01] #144 closed

[2017-09-15 15:02] jjacobs1 commented on #151
@psignoret You the man! Works like a charm now 🥇

[2017-09-15 15:23] psignoret commented on #153
@chris18890 Until I finally get this into the WordPress plugin directory (soon, I promise), you need to replace the existing plugin folder, most likely named `aad-sso-wordpress`.

The reason you're getting a duplicate entry is because the ZIP downloaded from GitHub names the folder `aad-sso-wordpress-master` (because it's the `master` branch of the repo). Even if the names matched, the WordPress w

[2017-09-15 15:31] bradkovach commented on #153
In the mean time, you can set the plugin to use the GitHub repo for easy updates

[code]

Then whenever there's an update, run:
[code]

[2017-09-15 15:35] psignoret commented on #153
Yes, of course, if you have command-line access and `git` available, @bradkovach describes the best approach.

[2017-09-15 16:24] chris18890 commented on #153
Hi both,

Thanks for this :)

While I have SSH access on my own servers, I don't on some of the client servers, just the WP admin interface! I was able to open the settings for 0.6.1, note the app ID & secret key & any other values, delactivate then delte the plugin, then upload 0.6.2 & set it up again using the same settings, seems to be working fine :)

[2017-09-15 20:03] Senilex commented on #109
Thank you for providing this plugin.
I would love for this plugin to be able to map the following azure ad fields to wordpress users user_meta:
Job Title (title)
Department (department)
Manager (manager)
Office (physicalDeliveryOfficeName)
Phone (telephoneNumber)
IP Phone (ipPhone)
Email (mail)

Can it retrieve this information store in a variable and post it to the user_meta?

Right now I add thi

[2017-09-17 06:50] richardjgreen commented on #134
This would be awesome for a project I am currently looking at. Instead having each author on the site registering with Gravatar and having WordPress display a Gravatar image for the author, we could pull the profile image for the user from Azure AD.

The users of my project will not be the most tech savvy, so making it as seamless and easy for them to get it right would be ideal.

[2017-09-17 06:59] richardjgreen commented on #109
Seconded. I would be interested in the ability to pull the job title through from Azure AD. I could then include this attribute on the users' bio summary to appear at the bottom of their posts.

[2017-09-17 15:23] #153 closed

[2017-09-17 15:23] #150 closed

[2017-09-18 14:41] jjacobs1 opened #154 "Multiple Reply/Redirect URLs"
Maybe I've configured something wrong but it seems you can only setup this plugin to use one url. For example we would like to have the ability for users to be able to login using both https://domain.com and https://www.domain.com. I have both reply urls configured in our Azure app setting for our site. But I'm not able to configure multiple urls within the plugin.

[2017-09-18 17:58] jjacobs1 commented on #134
We also would love this feature

[2017-09-22 07:24] martensnico commented on #149
Just updated our blog to the latest version, works like a charm, thanks Philippe!

[2017-09-22 07:35] psignoret commented on #149
@asifma @pstidsen Feel free to comment or reopen if you are still having any issues.

[2017-09-22 07:35] #149 closed

[2017-09-28 19:36] ikeamster opened #155 "QUESTION: Is it possible to sign-in a user with this code?"
Seems like you cannot pass username password credentials through your own local login form. Redirection is a must cause of the OAUTH2 protocol.

[2017-09-30 03:02] psignoret commented on #155
I don't quite understand what you are asking. Could you describe what you would like to do?

[2017-09-30 03:05] psignoret commented on #154
It's true that the plugin today is configured to use only one reply URL. What is the experience when you use sign in under (e.g. https://www.example.com), but the reply URL is under the parent domain name (https://example.com/wp-login.php)? What about the reverse (signing in to https://example.com, but reply URL is configured for https://www.example.com/wp-login.php)?

[2017-10-03 02:29] awlawl commented on #136
I was just having this issue but I might have figured out my problem. I was logging in via https but my "Redirect URL" was http. So far so good over the past few hours.

[2017-10-03 06:08] mikaelengstrom commented on #120
@psignoret - What about the WP Plugin Directory?  Why isn´t the plugin available over there?

[2017-10-03 06:13] psignoret commented on #120
@mikaelengstrom No particular reason other that that I've been busy. I expect to have it submitted this week.

[2017-10-03 13:19] soonerdude commented on #134
I'd like to be able to use Wordpress as an Intranet site for our company. We use Office 365, so it would be great if our users can authenticated using this plugin, and then have their common information downloaded / mapped to some custom wordpress fields, such as Department, Title (jobTitle in MS graph), Phone, and email address. Then it should be fairly easy to create an employee directory that c

[2017-10-10 17:14] azeem4775 opened #156 "Azure AD"
Hi,

I have a strange issue which I want to clarify with you.

Plugin is setup to work with Azure AD. Wordpress general setting is set to not allow registrations and default role is set to 'Author'. in Azure AD all settings for integration i.e. client ID, secret, reply URL and Login redirect URL as well as OpenID Connect configuration endpoint etc. are correct and tested with auto-provisioning 'on

[2017-10-10 19:01] psignoret commented on #156
Which version of the plugin do you currently have installed?

Did you grant the [required delegated permission](https://github.com/psignoret/aad-sso-wordpress#2-register-an-azure-active-directory-application) "Read directory data" in the Azure AD app registration?

[2017-10-11 04:04] azeem4775 commented on #156
I was using the older version - installed in August, but then read the other [post](https://github.com/psignoret/aad-sso-wordpress/issues/148) about similar issue #148  and installed the latest version right after posting this thread. Yes, I did setup the delegated permissions and checked again after reading issue #148. It didn't work but then I noticed that in permissions for Azure application th

[2017-10-15 00:25] divemaster2533 opened #157 "Azure AD + Microsoft Credentials coming across invalid"
When using the plugin (awesome btw!!), it works good for normal corp credentials in Azure AD. But for users with MSFT credentials (like Outlook or Hotmail), getting a strange pull across and wondering if I am missing a configuration somewhere. The Usernames are coming across as live.com<handle>@hotmail.com and the Emails are coming across as live.com#<handle>@hotmail.com.

Is there a configuration

[2017-10-20 03:02] woodwardmatt commented on #131
Ok sorry for the long delay between responses. It seems that in this scenario (where there is a conflict between application ID's on the live site and those cached on the user's tenant which they have previously consented to), the application needs to prompt for consent again.

This needs to be achieved by re-issuing the OpenID Connect Authentication Request with the prompt=consentparameter (as de

[2017-10-20 16:36] bluejab opened #158 "Asking feature"
I am new user that just start a project using this plugin
Is there a way to make a registration page in wp that can automatically create an azure account after you create an account in wp using this plugin function?

Sorry if this make no sense or this is a wrong place to ask

Thank you before

[2017-10-20 20:37] bradkovach commented on #158
This is a little out of scope for our plugin; our intent is to allow robust authentication using Azure Active Directory as the authoritative authentication mechanism.

[2017-10-21 02:01] bluejab commented on #158
Okay
Thank you for your respon
If so do you know any plugin that have that kind of use?
Or we have to build a new one from scratch?

[2017-10-21 09:57] psignoret commented on #158
It depends on your use case. This plugin is primarily oriented for members of an organisation to sign in to a WordPress site. Most organizations have an existing onboarding process for new users (anything from manual user creation in the Office 365 portal to automatic synchronisation from an on-premises directory solution or from an HR application), which will result in a user account in Azure AD

[2017-10-22 09:10] bluejab commented on #158
Thank you for your suggestion
Yeah my scenario is the second one
I will go and check it out
And i am gonna ask do this plugin do store a token that it receive after we login if yes how can i retrieve it?

[2017-10-29 11:51] #158 closed

[2017-10-30 13:31] mounirface3 opened #159 "login url on another page keeps getting ANTIFORGERY_ID mismatch"
Tried to add this code , on a certain hook for a custom login page ...but the response is always

`global $ultimatemember;

  $aad=  AADSSO::get_instance();
    ?>
     <div class="um-center">
        <a href="<?php echo $aad->get_login_url(); ?>" class="azure-button" >Sign in with Azure</a>
    </div>

    <?php`

[2017-10-30 16:36] nilsree commented on #136
Having the same problem.
Checked azure app, everything seems fine. Tried creating a new key, same problem.

I can prevent the loop by unchecking the "Automatically forward users to the Azure AD...", but users still can't log in.

[2017-10-30 17:27] psignoret commented on #136
@nilsree Most of the times this happens it's related to other redirects happening. A common case is mixing HTTP and HTTPS URLs. Does the redirect URL start with "http://" or "http**s**://"?

[2017-10-30 17:30] psignoret commented on #159
It's not sufficient to just sent the user to the login URL, because there is additional configuration "work" that takes place. The most relevant of these is that the `ANTIFORGERY_ID` value is generated and stored. If you use the default login page, do you still see this issue?

[2017-10-30 17:45] mounirface3 commented on #159
I fixed it .. by adding the  session_start in the functions.php

function sess_start() {
    if (!session_id())
        session_start();
}
add_action('init','sess_start');

the problem was that the $_SESSION['aadsso_antiforgery-id'] was not being saved in the session
I am not using the default login page.. I am using a custom one generated by a membership plugin.

[2017-10-31 00:04] nilsree commented on #136
@psignoret The redirect url was starting with http, but stopped working.
I have set up a working SSL-certificate, and changed the azure app sign-on, reply and home page url, as well as changing the url in wordpress general settings and azure ad plugin settings. Still the same issue.

![network-azure-ad-wp](https://user-images.githubusercontent.com/6650118/32201417-41c037b6-bdd7-11e7-83ce-d96e595ea

[2017-11-27 05:24] mmahoney812 opened #160 "Anyway to put Azure AD email field into Wordpress email field?"
Is there anyway of taking the email stored in Active Directory and setting it as the email address in wordpress?

[2017-11-27 06:25] psignoret commented on #160
Do you mean in Windows Server AD (i.e. on-premises) or Azure AD? (Or both, since you're syncing AD to Azure AD?) Which attribute, specifically, do you mean?

[2017-11-27 06:42] mmahoney812 commented on #160
Well I am syncing from Windows Server AD to Azure and I was wondering if I could use the email field in Server AD to go over to the email field of Wordpress so I could have wordpress send people email's to their own emails. I just looked in Azure and I think it is filtering out that attribute so I'm not sure if it can be done.

[2017-11-27 15:19] bradkovach commented on #160
@psignoret could we offer some hooks to allow other plugins to grab this information?

[2017-11-27 15:33] psignoret commented on #160
@mmahoney812 Are you using automated provisioning? Or would you expect this to get updated if the on-premises `mail` attribute changes?

@bradkovach It's not about exposing it with a hook, it's about whether or not that information is even available in Azure AD to start with.

[2017-11-27 15:58] psignoret commented on #160
@mmahoney812 I meant how you've configured the plugin. Are you using the option to automatically create the user in WordPress is they haven't been created yet?

What would be your expected behaviour if the on-prem `mail` attribute changes? Would WordPress automatically update as well?

Are your users' `UserPrincipalName` different from their `Mail`?

[2017-11-27 16:07] mmahoney812 commented on #160
@psignoret Yes. I am sorry for not understanding the question. I am using the plugin to create the user in wordpress if they do not exist. I would like the mail attribute to change in wordpress if it's changed on prem but if it is not possible then I understand. That option would just be for convenience.
The UPN is different from their mail. We do not assign the users that are pulled from on prem

[2017-11-28 20:53] mmahoney812 commented on #160
Hello @psignoret ,
Another workaround that I was thinking is if you could put in a setting like you did for the groups. Get the attribute id and then tie it in with something in wordpress.

[2017-11-29 22:23] bradkovach commented on #160
Is it possible to just expose the entire Azure payload and the associated `WP_User` object to allow for this behavior to be bolted on with another plugin via hook?

[2017-11-29 23:00] psignoret commented on #160
@mmahoney812 The only way to get the email for sure (without paid-for features like custom claims mapping) is with an extra call to the Azure AD Graph API, not unlike the call that gets made to retrieve the group membership. This can definitely be added, but it may have a performance impact if not done optimally. I can add it the easy, but possibly less performant way, quickly--if this will unbloc

[2017-11-29 23:07] mmahoney812 commented on #160
@psignoret Thank you for getting back to me. This is not at all blocking me and take all the time you need. I need to work out some issues with AD because some users use Office 365 groups and they are putting in guests email's that are also in the email field of AD so that is causing duplication errors. I am going to create a custom attribute and put it in there so it doesn't effect Office 365. If

[2017-12-08 18:40] anormore commented on #159
If I have 10 domains, do I also need to create 10 azure keys/secrets?

[2017-12-08 18:41] anormore commented on #155
Correct. To use this plugin you can "Sign in with Office 365". Which redirects to Microsoft login, and comes back to wordpress. This plugin is excellent.

@psignoret This issue can probably be closed.

[2017-12-08 19:24] daveRendon opened #161 "Login Issue: User not registered"
Hello,

I just activated the plugin with default settings, however is not recognizing from wordpress:

ERROR: The authenticated user 'live.com#' is not a registered user in this site.
ERROR: ANTIFORGERY_ID mismatch. Expecting {4}

Not sure if where does the prefix: live.com# is coming from, tried different users with same result

[2017-12-09 02:05] psignoret commented on #155
Agreed, I'll close the issue. @ikeamster, let me know if you still need help.

[2017-12-09 02:05] #155 closed

[2017-12-09 02:07] psignoret commented on #161
The prefix is coming because you are signing in to your Azure AD tenant with a personal Microsoft Account (formerly known as "Live ID", hence the "live" prefix in the `unique_name` claim coming from Azure AD).

The first error (user not registered) means the plugin couldnt' find an existing WordPress user that matched that value. What WordPress field do you expect to match users on?

[2017-12-09 21:45] daveRendon commented on #161
Thank for your quick response @psignoret

I´m expecting to match the mail address, is there any additional configuration to match the mail address? I already set the "Field to match = Email Address"

thank you

[2017-12-13 23:08] psignoret commented on #134
@anormore Can you share the details of the approach you're taking? I've almost finished this already, so we should avoid double work here.

[2017-12-19 10:28] StoneWaves commented on #97
We have various dynamic development environments that run multiple URL's (*.env.example.com) but share a DB, this would be an amazing feature to have if it's possible to implement.

[2017-12-19 18:54] bradkovach commented on #97
@psignoret the easiest way to get this handled would be to use a `wp-config.php` constant to change the option key that's used when [`AADSSO_Settings::init`](https://github.com/psignoret/aad-sso-wordpress/blob/master/Settings.php#L199) is called.

Something like `AADSSO_OPTION_KEY` would allow multiple configs to live in the same DB.

Or maybe something a little more in-depth, allowing for automat

[2017-12-19 19:15] stephen-kainos commented on #97
Exactly what I’m looking for Brad!

[2018-01-11 08:01] vanxy opened #163 "Unable to Logout from WordPress from WordPress logout link"
Hi,

I have successfully connected our WP with Azure AD (login will be redirected to Azure login screen) and I can login with my AD account.
Problem is, when I click the Logout link from the WP installation (url is something like mysite.com/wp-login.php?actionlogout&_wpnonce=XXXXXXXXXXXX&redirect_to=https%3A%2F%2Fmysite.com%2Fwp-admin%2F%3Floggedout%3Dtrue ), I am not logged out. I am still redire

[2018-01-11 14:16] flpmilan opened #164 "Login error"
I got this error every time, when try to authenticate on login screen:

**ERROR: Invalid id_token. OpenSSL unable to verify data: error:0407006A:rsa routines:RSA_padding_check_PKCS1_type_1:block type is not 01**

Any idea? The key is correct, checked it multiple times.

[2018-01-11 19:10] psignoret commented on #164
Can you elaborate on what you mean by the key being correct? How are you deciding that?

[2018-01-11 19:12] psignoret commented on #163
Do you have any other plugins that are in any way related to login or logout? What version of WP?

[2018-01-11 22:59] vanxy commented on #163
Hi

I am using WP 4.9.1. I only have Single Sign-on with Azure Active Directory plugin activated that is related to login/logout.
Other plugins I activated are bbPress, Wordfence Security, CF7

Thank you

[2018-01-24 12:20] G2Ocean opened #165 "Possible to restrict access only to authenticated users?"
Hi - I installed and configured the aad-sso-wordpress plugin, however it'll let users in without authentication. It only redirects to the login page after we try to access an intranet that is behind the wordpress blog page. Is it possible to prevent access for non-authenticated users?

[2018-01-24 16:32] bradkovach commented on #165
This is a little out of scope for this plugin, but there are a number of
existing plugins that would enable this functionality.

Here are some links that might help you...

- https://wordpress.org/plugins/wp-force-login/
- https://wordpress.org/plugins/jonradio-private-site/
- https://trickspanda.com/force-users-login-viewing-wordpress/

On Wed, Jan 24, 2018 at 5:20 AM, G2Ocean <notifications@gith

[2018-01-24 22:26] psignoret commented on #165
+1 to what @bradkovach says. This plugin gives you a way to sign in with Azure AD, it does not change _when_ users need to sign in. There are several plugins out there that already do that and do it well, such as the ones linked to above.

(I'm closing this issue, but please feel free to respond back or open another email if you have any additional questions.)

[2018-01-24 22:26] #165 closed

[2018-01-26 20:58] vinhtvu2 opened #166 "Bypass Login account with special link"
Our current configuration:
Enable auto-provisioning = True
Enable auto-forward to Azure AD = True
Enable Azure AD group to WP role association = False

WordPress version: 4.9.2
aad-sso-wordpress vesion: Version 0.6.2

I'm wondering if it's possible to add an option, so that we can have a secret URL that we can access to login using a local user in case AAD is down / inaccessible for whatever reaso

[2018-01-27 15:44] psignoret commented on #166
Have you had a look at this section of the README? https://github.com/psignoret/aad-sso-wordpress#bypassing-automatic-redirect-to-azure-ad-to-prevent-lockouts

[2018-01-29 14:25] odeland commented on #159
@psignoret

How can we make sure the antiforgery_id is properly set when using a custom login page? Is there an action/filter hook we can call or use to get the proper antiforgery_id? Do we need to send the antiforgery_id to Azure AD along with the request for this work?

[2018-01-29 15:03] vinhtvu2 commented on #166
Well I feel like an idiot...
Thanks!

[2018-01-29 15:03] #166 closed

[2018-01-29 15:26] vinhtvu2 commented on #163
I'm also having this issue. After clicking logged out, if I go to the WP-admin page or any other page, it'll still show that I'm logged in. The only way to truly log out is to clear cache and close browser and open new browser. So the logout function doesn't remove cookies or getting rid of the persistent token. On Outlook 365, it shows a "logging you out of Microsoft" screen.

So there has to be

[2018-01-29 17:48] psignoret commented on #159
@odeland The antiforgery ID should be property set even if you have a custom login page. (Basically, if the SSO with Azure AD gets triggered--it should work.) If it's not working, let's dig into the specific issue. Can you share more details on your setup?

[2018-01-29 18:14] psignoret commented on #163
It sounds like you are expecting that a "log out" of WordPress should also trigger a full sign-out from Azure AD (which, like you've observed, it _not_ what this plugin is currently designed to do). Is that the behavior you're expecting?

[2018-01-29 18:15] psignoret commented on #166
No worries! :)

(Pro tip: Though the documented approach is the safest way to skip the redirect, putting ?action=whatever will actually have the same effect.)

[2018-01-29 18:56] vinhtvu2 commented on #163
I think if people use the plugin, and want persistent sessions, they could just close the browser. When they open it back up, the session should still be there because of the ticket. But if they deliberately click the logout button to log out, it should terminate the session and log out of Azure AD? For instance, using someone else's computer, or testing a different account. I would log out afterw

[2018-01-29 19:47] psignoret commented on #163
That's good feedback. I've gotten mixed responses to this in the past: some want it to only clear the WordPress session but not the Azure AD session. Others, like you, expect both to be signed out. I think the best solution here is just to make it configurable.

[2018-01-29 20:18] vinhtvu2 commented on #163
Definitely more flexible and cater to the mass by making it configurable.

[2018-01-31 01:54] vanxy commented on #163
Thanks @vinhtvu2 @psignoret
I did implement the same solution as @vinhtvu2  mentioned.
In my case, we would like to have the Logout from AD as we have few people sharing one PC, or if they access the site outside of the corporate network.

I think it would be helpful if it's configurable. But for now, we are good.

Thanks again.

[2018-01-31 01:54] #163 closed

[2018-02-01 17:25] bg-wilkesreid commented on #136
@psignoret Has any progress been made on this? We use this in tandem with the Force Login plugin, and can't figure out exactly why the redirect loop is happening. The fact that it only happens occasionally and works fine the rest of the time is extremely confusing.

[2018-02-01 20:25] psignoret commented on #136
@bg-wilkesreid What platform stack are you running WordPress on?

[2018-02-01 20:30] bg-wilkesreid commented on #136
@psignoret Ubuntu 16.04 behind Nginx... is that what you mean by platform stack?

[2018-02-01 20:45] psignoret commented on #136
Yes. Is this a single server deployment? With no extra caching plugins?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: bg-wilkesreid <notifications@github.com>
Sent: Thursday, February 1, 2018 9:30:36 PM
To: psignoret/aad-sso-wordpress
Cc: Philippe Signoret; Mention
Subject: Re: [psignoret/aad-sso-wordpress] Constant state of re-direct (#136)

@psignoret<ht

[2018-02-07 14:32] ryanwelcher commented on #127
I believe that his has been addressed with this commit?
https://github.com/psignoret/aad-sso-wordpress/commit/07c1e7e0035eca5720af8681eb7e93ec0575f673#diff-a0ada58cb496292a73dad99a8465f94f

[2018-02-07 14:46] psignoret commented on #127
Indeed it was, I just didn't close this issue. Thanks!

[2018-02-07 14:46] #127 closed

[2018-02-09 06:25] rdroshan24 commented on #119
I am facing the same issue as @teocomi have posted.
After logout, as @teocomi mentioned, when I try to log in again, and select to use another user account, it directly take me to the application without asking for password.
I can not get logout completely unless and until I close the browser.
FYI, I have used wp_logout_url(home_url()) function to logout from Portal.

[2018-02-11 11:48] JustinTrouble commented on #123
The [Multisite User Sync](https://wordpress.org/plugins/multisite-user-sync/) plugin has been marked as abandoned by the maintainer, so I'm closing this issue.

[2018-02-11 11:48] #123 closed

[2018-02-16 12:49] kmnathancse opened #170 "Help on your plugin"
Hi Sir,

My wordpress site is in root directory.  So anybody having the URL can access my site.

I have used your plugin to auth against AD. It is perfectly working when i click a URL under wp-admin login page . Means only when i explicitly type mysitename/wp-admin, URL. my problem here is i do not want any one access the website without login to Azure AD.

How do i restrict my site only uses your

[2018-02-18 05:28] mmahoney812 commented on #160
Hello,
Any update on this?

Mike

[2018-02-18 18:46] #156 closed

[2018-02-18 19:09] psignoret commented on #170
This plugin does not currently do anything to decide _when_ a user must sign in, it only adds a new method for _how_ the user can sign in.

There are several other plugins out which you can use to require that access to all parts of your site (or only certain parts) require the user to sign in. Here are a few examples I found by searching for "wordpress require login": [Force Login](https://wordpr

[2018-02-18 19:09] #170 closed

[2018-02-18 19:10] psignoret commented on #164
@flpmilan I'm going to close this issue for now, but please feel free to comment or open another issue if you're still having this problem.

[2018-02-18 19:10] #164 closed

[2018-02-20 18:41] brandontravis commented on #134
Hello @psignoret and @anormore ... has any progress been made here?

[2018-02-21 04:19] brandontravis commented on #115
Was this every solved? I'd love to hear #2.. I've got your plugin swapped out for MS Graph, but the user role mapping fails as predicted. Would love to hear a solve.

[2018-02-28 12:40] mrgnou opened #174 "Auto-provisioning prevented if AD User has no corresponding group"
When `Enable auto-provisioning` and `Enable Azure AD group to WP role association` are checked, and Active directory user doesn't have a corresponding group, the following error is displayed:

`ERROR: The authenticated user 'mail@domain.com' does not have a group assignment for this site.`

<img width="965" alt="screenshot 2018-02-28 13 30 55" src="https://user-images.githubusercontent.com/418965/

[2018-03-03 18:13] mmahoney812 opened #176 "Users cannot sign-into website"
Hello,
Recently, I changed over to another host and whenever I use your plugin to authenticate into my website, I log into Office 365 and then it just drops me off on the wordpress login screen.
This is currently a big issue.

Thank you,
Mike

[2018-03-03 18:25] mmahoney812 commented on #176
@psignoret This happens always. I am not sure if the host has any load balancers. I have'nt set up a cache so I assume no. Redirect URL is correct.

[2018-03-03 18:35] psignoret commented on #176
What does the address bar show after you've been "dropped off" back at the login page?

Have you tried disabling other plugins to rule out any conflict?

[2018-03-03 18:38] mmahoney812 commented on #176
@psignoret this is the URL of the login page after I am dropped off:
http://www.wcat-tv.org/wp-login.php?code=AQABAAIAAABHh4kmS_aKT5XrjzxRAtHzxIE8njhNi657go8TcExUp-xQLo2AjB5UYPJnEIv9lsUKYJgltXPRHP9BJIT8dovubexJyo4Wpngtld3HNJzRmczYIvadn3qWivNaajalKvBB1dAVitXuSzrwk9x_0zGu_9iPyx-lLY5gDkwbr7oDpoU9JfA-Gs5BBgiBuu25s8YtpYCE_YY2kJq2wA6_01DbDEHmHHu9MArTdTES7QZPj5JFsAQGHygu5ahqtLFsMJsQgF26a-js7TO5EZm8OAUxnB

[2018-03-03 19:25] psignoret commented on #176
There is probably something in your new host which is not letting the plugging make the outgoing request it needs to make to complete the sign-in process.

Can you shoot me an email to philippe.signoret@outlook.com so we can debug this further? (Note: I'll probably not be able to answer until Monday.)

[2018-03-06 14:32] brandontravis opened #177 "Any way to check against a single group to grant membership?"
Rather than mapping roles for all different user roles, is there simply any way to check against a single group to provide access before the WP User is created?

[2018-03-06 15:48] psignoret commented on #177
@brandontravis This would not be very difficult to add, but is not available today.

If you have Azure AD Premium (e.g. because you have an Enterprise Mobility + Security (EMS) subscription), then you can do this at Azure AD. (Let me know if you want instructions.)

[2018-03-06 16:36] leviatorkilsheyggi opened #178 "How to get login and logout urls"
Hi

We are creating a custom landingpage for our users.
We'll check if the user is signed in, and show a log in / log out button accordingly.

How do i get the login and logout urls? I see someone using:
`	<?php $aad=  AADSSO::get_instance($settings); $aad->get_login_url(); // and get_logout_url(); ?>
`
What settings should be passed to get_instance()?

[2018-03-06 17:29] brandontravis commented on #177
So, this was actually fairly simple ... I just created a new role with no capabilities (the same thing that happens when you select the "No role for this site") from the user settings page.

Can close this issue, as I Achieved effectively the same thing.

[2018-03-09 13:54] leviatorkilsheyggi commented on #178
We got this working, and it's great.
One thing, though: Login only works when the replyurl is mysite.com/wp-login.php. When changing it to something else, the plugin signs into ad, and reports no error. So we 'fixed' it by blocking wp-admin for relevant roles, and redirecting them to the landingpage.

[2018-03-12 20:21] #177 closed

[2018-03-15 13:34] Alencarxx opened #179 "There is the possibility to pull all Azure Active Directory users???"
There is the possibility to pull all Azure Active Directory users and create a synchronization scheme to run and include anyone who is not included in WordPress??

Thank you.

[2018-03-20 05:48] vanxy opened #180 "[Question] Bypass Authentication from local account"
_I'm sorry I feel like I have already the answer but I just want to confirm._

If the local PC AD is not yet sync to Azure AD and is using our office corporate network, does it mean when they access the WP system (with this plugin turned on), they will still go through the authentication (Office365 login screen)?
Is there a way to bypass this authentication screen?

We are going to do SSO directio

[2018-03-20 10:22] psignoret commented on #180
Is you're Azure AD domain name federated to AD FS on-premises. (e.g. when you type in your username and click Next, do you get redirected and then SSO'd)?

[2018-03-20 23:55] vanxy commented on #180
Hi, sorry let me elaborate more.
Currently your plugin is working as expected:
1. Users visit the website
2. They are redirected to Office365 login page
3. They login with their office email
4. Redirected back to the site to view the content.

Now we are looking at the possibility where the users can straightly view the content IF they access the website within intranet. So as long as they are log

[2018-03-23 18:52] acds opened #181 "Can one promote a MultiSite Super Admin into an AD authenticated user ?"
I get an "ERROR: Error creating user error" when I try and log in with he Support Admin.

As I happens I get this too for other exiting users, is there is a user set up how does it get linked.

[2018-03-26 08:56] psignoret commented on #181
The "Field to match to UPN" setting will be used to match the Azure AD use who has signed in, to an existing user in WordPress. What do you have it set to?

[2018-03-26 09:16] psignoret commented on #180
There are three ways you can achieve this. All three of them will enable a user who is signed-in to their computer to get single-sign on to Azure AD (and any Azure AD-integrated app, including WordPress, when you use this plugin):

For Windows 7/8.1:

* Enable Seamless Single Sign-On: https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sso
* Federate your do

[2018-03-26 09:19] psignoret commented on #179
Not today (at least not with this plugin, or any that I know of). I can imagine a few scenarios where this could be useful, but just to be sure we're prioritizing accurately: could you share some details of how you would use this?

[2018-03-26 09:22] psignoret commented on #178
Sorry for the delayed response. When you change the redirect URL, are you changing it in both this plugin's configuration _and_ in the Azure AD app registration?

[2018-03-26 10:04] leviatorkilsheyggi commented on #178
Yes. Both places.

[2018-03-26 10:07] psignoret commented on #178
What are you setting the redirect URL to? It's important that the URL you're redirecting to actually invoke the WordPress sign-in points where the plugin hooks into.

[2018-04-03 12:31] ryanwelcher commented on #126
I think the changes introduced with #167 address this issue.

[2018-04-03 12:32] ryanwelcher commented on #129
Could this be related to the fixes in #167 ?

[2018-04-03 12:36] ferd-i commented on #134
+1

[2018-04-03 13:58] ferd-i opened #182 "Can't login with Woffice"
Hello,

First, let my thank you for this great plugin @psignoret.
However, I'm having a problem with my last installation because I'm using Woffice. I don't know why, but the login page keeps saying "Log out" as shown on the picture, and when I log in, it doesn't do anything and keeps redirecting me to the login page.

When I look in the "Users", it didn't create the user

I've tried to use an oth

[2018-04-06 03:46] ShadowXVII opened #183 "Incompatible with "Login No Captcha reCAPTCHA" plugin"
As of v1.2 of "Login No Captcha reCAPTCHA" this plugin no longer works properly.

I don't think it's necessarily an aad-sso-wordpress bug, but may require the two developers to liase.

This is the corresponding topic on the plugin author page:
[https://wordpress.org/support/topic/incompatible-with-azure-ad-sso-logins/](https://wordpress.org/support/topic/incompatible-with-azure-ad-sso-logins/)

[2018-04-06 07:34] psignoret commented on #183
Thanks for the heads up! I'll look into this.

[2018-04-06 16:08] tmann50 opened #184 "Logout of WordPress AND Active Directory"
Hi,

I have just started using this plugin, it’s really good apart for one thing which I have noticed...
When you try to log out of the Wordpress site, you are either taken back to the admin dashboard or told that you have logged out of Wordpress (which you haven’t because you are still logged in - you can navigate back to the dashboard without re-authenticating).

I think that this is because whe

[2018-04-06 16:12] psignoret commented on #184
Thanks for this great feedback! This is something that I would like to add as a configuration option relatively soon.

(Duplicate of #163.)

[2018-04-06 17:02] bradkovach commented on #184
Ending a session of another service is not something that should be done carelessly.  For some tenants, this would log users out of their email/OneDrive/etc, which is certainly not a thoughtful approach.  The plugin has a Sign Out link on the `wp-login` page that will initiate a global Azure AD signout.  Maybe just make it say "Sign out of <display name>" for clarity.

[2018-04-06 17:38] psignoret commented on #184
Actually, triggering a full logout of the identity provider is more often than not the typical behavior.  Though of course, this wouldn't be done carelessly. :)

[2018-04-06 19:28] psignoret commented on #163
@vanxy @vinhtvu2 This is now a configurable option in the latest version. Thanks for your feedback!

[2018-04-07 22:41] psignoret commented on #183
@ShadowXVII I've pushed an experimental version that changes when this plugin kicks in, bringing it in a bit earlier than it used to (_before_ "Login No Captcha reCAPTCHA, and redirecting away from the login page before that plugin has a chance to stop the sign-in).

Can you give it a try? You can get the experimental version here: https://github.com/psignoret/aad-sso-wordpress/tree/experimental-n

[2018-04-09 20:49] axiapnorris commented on #176
I'm having the same issue. Is there a specific firewall rule I need to add?

[2018-04-10 04:06] milardovich commented on #134
+1

[2018-04-11 00:55] hy-itops opened #185 "Auto-provision"
Hi There,

I am having some trouble getting the auto-provision feature to work.
I have enabled 'Enable auto-provisioning' in the settings, but when I log in with an AD user that does not have a Wordpress account, a new WP user is not created.

Just wondering if there is something else I should be doing other than simply enabling the feature in your plugin's settings?

Thanks in advance.

[2018-04-13 08:45] cedrox commented on #70
Do you plan to develop this feature ?

[2018-04-13 08:48] cedrox commented on #106
Not so much update on _active-directory-b2c-wordpress-plugin-openidconnect_... Is there any other alternative out there ?

[2018-04-13 08:49] psignoret commented on #70
It is very low on the list of priorities, so not any time soon.

Have you looked into the plugin published by the Azure AD team?
https://github.com/AzureAD/active-directory-b2c-wordpress-plugin-openidconnect

[2018-04-13 09:40] psignoret commented on #106
Have you tried it, though? Have you run into any issues?

[2018-04-13 11:00] hajekj opened #186 "Add plugin to WordPress.org plugin repository"
I think it would be really cool to have this plugin available in the official WordPress plugin repository. Any way I could help with that?

Previous issues: #60 #150

[2018-04-13 11:09] psignoret commented on #186
I agree! I would enthusiastically welcome a PR with an initial [readme.txt](https://wordpress.org/plugins/readme.txt).

[2018-04-13 15:37] hajekj commented on #186
So I suppose next thing that follows should be following - https://wordpress.org/plugins/developers/add/

[2018-04-16 14:29] #182 closed

[2018-04-16 14:31] ferd-i commented on #179
It would be useful for our users cause they should be able to find informations on people who didn't log on wordpress. For example, a directory where users could find phone numbers of others.

[2018-04-16 18:18] ferd-i commented on #182
hello @psignoret
Actually Alkaweb (makers of Woffice) helped me with this. I don't know how they did but it worked.

Thank you :)

[2018-04-17 09:14] ferd-i commented on #182
Actually I think that's the last version of AAD SSO and Woffice that work together because it seems they didn't do anything but update the theme

[2018-04-18 13:11] ShadowXVII commented on #183
Sorry it's taken me so long to test. Looks good :) Working back like it used to.
Thanks for working with the Login NoCaptcha developer. Sometimes handling all scenarios between two plugins can be tricky :)

[2018-05-02 15:36] bluejab opened #189 "[Question] login without redirect"
Hello
I am already using this plugin for 6 months now
But i am having a request to make our user login without redirect to Microsoft login page
Is it possible?
Or this is the procedure that azure ad requires?

[2018-05-07 07:28] hironihashi opened #190 "User cannot log in "AADSTS65005""
The user, invited as B2B user, cannot log in. so far about 2 / 2000 users face this issue.

The error messages are following.
ERROR: Access denied.... AADSTS65005: Using application \'my site' is currently not supported for your organization 'user's domain like contco.com' because it is in an unmanaged state....

We tried to reset cash and cookies of browser but it doesn't work.
What is cause of t

[2018-05-07 08:10] psignoret commented on #190
Can you share how you've configured the plugin? I'm particularly interested to know what you've set as the "OpenID Connect configuration endpoint", and whether or not you've enabled group-based access control (i.e. Azure AD group -> WordPress role mapping).

[2018-05-07 08:33] hironihashi commented on #190
Please check the attached picture below.
We do not have any special settings (not enabled role mapping).

![setting](https://user-images.githubusercontent.com/39045676/39692689-857e9aae-521c-11e8-893e-972e65dcec0a.PNG)

[2018-05-08 16:50] brandontravis opened #191 "Anti-forgery mismatch"
I need to force users to be authenticated, so I added the following to my functions:

[code]

Digging in and look at issue #159, it appears that this is because the login url changes from wp-login.php to login.php?redirect_to .....

Removing this code, everything works fine when I visit a login screen normally (either by way of wp-login.php or /wp-admin). Visiting from wp-admin also adds the redir

[2018-05-10 03:17] benjaminCFD opened #192 "Users no admin rights"
I First want to thank you very much for the creation of this plugin, it's fantastic.

When users login (who should have admin rights on WP site), the admin bar is not visible and they are unable to navigate to the admin page of the website.

I hope you can help me with this issue.

Thank you,
Benjamin

[2018-05-10 05:11] psignoret commented on #192
How have you configured the plugin?

[2018-05-10 05:13] psignoret commented on #192
How have you configured the plugin?

[2018-05-10 08:49] hironihashi commented on #190
Our version is 0.2.1, so I will update it to the latest version and try it.
But I need to prepare the environment to test and it may take time.
Please let me ask the configuration. when it is ready.

I do not know where initial developer gets it from, sorry.

[2018-05-15 01:36] benjaminCFD commented on #192
Hello again;  just wanted to follow up:  still no success on my end.

[2018-05-16 05:30] hy-itops commented on #185
Hi,
Sorry I managed to work out my problem.
It was a combination of testing using Incognito windows and some incorrect settings.
Thanks for your plugin.
Seems to be working great.

[2018-05-25 15:05] bamaro1 opened #194 "Add ability for users that have valid, active AD tokens to be auto-logged in."
It would be nice that if a user's AD authentication token was still valid (ie. their login is remembered and they don't need to provide credentials to AD in order to be authenticated again) then they would be automatically logged in by Wordpress.

[2018-05-25 15:15] psignoret commented on #194
Do you expect all visitors of the site to be signed in?

[2018-05-25 15:16] bamaro1 commented on #194
No, maybe only 3-5%. Why do you ask?

[2018-05-25 15:34] psignoret commented on #194
Because if you do (i.e. it's an internal site) then you can automatically have them be signed in. If you don't, it's a bit trickier. Good request, let me see what approach would work for this.

[2018-05-25 15:56] bamaro1 commented on #194
Thanks. Maybe a conditional pre-flight to AD might work:
[code]
I would have loved to contribute on this but I'm only a Java developer (boo-urns)

[2018-05-29 14:12] brm252 opened #195 "Redirecting user to specified URL after login"
Is there a way provide a redirect URL for redirection post-login?
For regular login, if the URL parameter for redirect_to is passed, after login the user will get redirected to that provided URL. However, with this plugin, it always redirects to the url provided as the "Redirect URL" in the admin without retaining the URL parameters.
Thanks!

[2018-06-07 13:04] hajekj commented on #186
Hey @psignoret, is there any progress on this one?

[2018-06-10 19:06] grzegorzszypa opened #197 "Azure AD (B2C) - issue in OpenID connector"
Because I use as Azure Application Azure B2C Application, so I have a problem with customize OpenID connecto, because template which was used in configuration is not suitable for my use, and when I put my custom, it does not work.

[2018-06-10 19:37] grzegorzszypa commented on #197
I discover the issue and it is  a problem with supported verion, becaue in current plugin there is this template link:
https://login.microsoftonline.com/{tenant-id}/.well-known/openid-configuration

but when I want to use proposed by Azure AD it should be:
https://login.microsoftonline.com/{tenant-id}/v2.0/.well-known/openid-configuration and when I use this I got in response "Bad Request"

I also

[2018-06-10 20:36] psignoret commented on #197
This plugin was not designed to word with Azure AD B2C, or with the Azure AD v2 endpoint, so neither of these have been verified or tested, and I'm not surprised they don't work out of the box.

Have you looked at this plugin, which is specifically for Azure AD B2C? https://github.com/AzureAD/active-directory-b2c-wordpress-plugin-openidconnect

[2018-06-11 15:30] grzegorzszypa commented on #197
do you have a plan to support it?

[2018-06-18 18:39] mmahoney812 opened #198 "Redirection Issue"
Hello,
When I have the plugin redirect the wordpress login screen to Azure AD, once a user logs in, endless redirected occur between my website and Azure AD.
When that feature is not enabled, and people click the sign in with Azure AD on the wordpress login screen, authentication works perfectly.

Thanks,
Mike

[2018-06-18 22:06] jberezanski commented on #154
In my case I have three URLs configured for the site:
https://mysite-prod.azurewebsites.net
https://mysite.mydomain.com
https://officialname.mydomain.com

The Azure AD application is configured with all three Reply URLs. The plugin is configured with https://officialname.mydomain.com.

The experience is that attempting to log on from both "technical" addresses:
https://mysite-prod.azurewebsites.ne

[2018-06-19 14:01] JJGriffin commented on #192
I had the same issue, until I realised that I had selected 'Read directory data' under **Application Permissions** as opposed to **Delegated Permissions**. Changing this fixed the issue and the user was successfully provisioned and added to the correct security role after login. Hope this helps.

[2018-06-19 14:04] benjaminCFD commented on #192
Thanks for the update.  I rolled back my version of WordPress and this successfully resolved the error.

This plugin is great.  Truly a great plugin!!

On Jun 19, 2018 10:02 AM, CRMChap <notifications@github.com> wrote:

I had the same issue, until I realised that I had selected 'Read directory data' under Application Permissions as opposed to Delegated Permissions. Changing this fixed the issue a

[2018-06-20 16:51] alissaisenberg opened #199 "Locked Out of Wordpress Admin"
I had changed a setting and now it constantly redirects. How do I fix this so I can login to the wordpress admin?

[2018-06-20 16:58] psignoret commented on #199
https://github.com/psignoret/aad-sso-wordpress/blob/master/README.md#bypassing-automatic-redirect-to-azure-ad-to-prevent-lockouts

[2018-06-20 17:34] alissaisenberg commented on #199
Thank you! That worked.

[2018-07-18 18:39] #185 closed

[2018-07-18 18:39] #174 closed

[2018-07-20 14:20] chris18890 opened #200 "Error when signing in - "Session does not contain antiforgery ID.""
Hi all,

websites https://belfasttechservices.co.uk & https://hampshiretechservices.co.uk

Having recently updated to v0.6.5 (from 0.6.4) of the plugin on both sites I've started getting the following error message when trying to sign in - "Session does not contain antiforgery ID." this seems to happen both when clickign the log in link under the meta section of the homepage & aswell as browsing t

[2018-07-20 15:13] chris18890 commented on #200
Just running it off a single server. I'd rebuilt it with 18.04 & had set everything up again & it was working, this seems to be a recent issue, & was also happening in 0.6.2. No major changes other than allowing wordpress & Jetpack to be upgraded; though JetPack SSO seems to have broken recently as well...

[2018-07-20 15:49] chris18890 commented on #200
Didn't make any changes, just installed the latest versions with APT, so unless something's changed in the release versionf ro 18.04 vs 16.04? will do soem testing & rebuild on both distros to see if there's any difference :)

[2018-07-25 21:06] evanpalumbo commented on #128
Any news on this?

[2018-07-26 09:58] donsaliery opened #201 "Guest"
Hello

is possible to authenticate guest users in your Azure AD? It is users in our AD directory with their custom login name. We use it for authenticate to SharePoint etc

Thank you

Vaclav

[2018-07-27 06:09] evanpalumbo opened #202 "Dumping users back to login without logging in"
So I got all the way through the readme and actually did some other troubleshooting (had to figure out how to summon the admin consent prompt to grant permissions).
However when I try to log in with any user with any level of permission, I navigate to the login page, click the link, authenticate at Microsoft, then it dumps me back at the login page to the blog, no more logged in than last time.
Th

[2018-08-01 02:50] evanpalumbo commented on #202
Anyone else?
In other news, I’ve tried several different reply URLs and have tried to find some kind of log file to no avail. Doesn’t look like a hosting issue as a freemium plugin that does the same thing (with the same gotchas) seems to work fine.
I’ve toggled every setting I could. I’m not using group assignments. Also it’s not even provisioning the user if they don’t exist so I’m quite sure th

[2018-08-01 05:43] psignoret commented on #202
Let's back up a bit.

Make sure you're using the latest version of the plugin. Pick one configuration, and stick with it until we sort things out. Set the reply URL back to the default. Double-check that the reply URL in the plugin config is the same as the reply URL in the app registration in Azure AD. In the Azure AD config, click "Grant Permissions" (no need to summon the admin consent screen).

[2018-08-07 07:10] freewings89 opened #203 "Login stuck at login.microsoftonline.com"
Hello
I've just installed your plugin. After following your setup guide, i clicked "Sign in with your 'my app name' account" and then redirected to https://login.microsoftonline.com. My microsoft acc is in the pick an account list but when i pick my account, the page refresh and stay at the same page with different ctx parameter. Can you help me to figure it out what wrong? Thank you.

[2018-08-07 09:44] freewings89 commented on #203
Never mind. The problem is i was using personal Microsoft account, not the AD account. Everything seems working fine. Now i need to make user auto login when access login page when they get authenticated by AAD. Any advice and suggestions will be greatly appreciated. Thanks

[2018-08-15 05:05] woodwardmatt commented on #131
Another late update - I'm still seeing some errors of:

"ERROR: Access denied to Azure Active Directory. AADSTS65005: Application \'[My Current App ID]\' is requesting permissions that are either invalid or out of date. "

@psignoret Do you think this is related to the above thread or something new / different?

[2018-08-20 05:02] hy-itops opened #204 "Additional attribute mapping"
Hi There,

Is it possible to map additional attributes from Azure?
We use some custom AD attributes that I would like to be available within Wordpress.

Cheers
kp

[2018-08-24 02:34] stegel commented on #195
Any update on this one? I'd love to know how to do this.

[2018-09-18 02:00] hai2rnr opened #205 "Is there a way to pull Azure AD Profile pic and map to Wordpress?"
Is there a way to pull Azure AD Profile pic and map to WordPress?
Also, I have few custom fields in WordPress users which needs to be populated from Azure AD data.

Ex: Position field needs to be pulled from Job Title in AD profile
      Avatar is a image field needs to be pulled from AD profile image

Is there a possibility?

[2018-09-24 14:47] ferd-i commented on #189
+1

[2018-09-24 16:00] psignoret commented on #189
Where do you expect/desire users to do the login?

[2018-10-01 12:36] psignoret commented on #189
When you say "log in on their website", which website is this you're referring to?

[2018-10-11 01:04] d0brii opened #206 "ERROR: Unable to check group membership in Azure AD: Request_BadRequest."
Hi,
When I'm trying to login with  "Enable Azure AD group to WP role association" turned on I'm getting:

ERROR: Unable to check group membership in Azure AD: Request_BadRequest.

Any help would be appreciated :).

Thank You.

[2018-10-11 06:58] psignoret commented on #206
Did this suddenly stop working, or did it never work?

What did you use as the values for the group's?

Can you confirm you granted the necessary permission in Azure AD?

[2018-10-11 18:06] d0brii commented on #206
Hi There,
Thank you for the quick response :)
It is a brand new install, and from the first run had above error.
If I disable  "Enable Azure AD group to WP role association" Azure AD user can log in with granted permissions of the contributor.
Regarding necessary permissions in Azure AD, I followed provided instructions.
Regarding settings here is relevant output from debugger;

....
'match_on_upn

[2018-10-11 18:31] d0brii commented on #206
Thank You! It’s working now :)

[2018-11-01 15:35] gchokeen commented on #203
@freewings89 : I have the same issue, can you explain how to solve this. I don't understand what is AD account!

[2018-11-01 19:47] psignoret commented on #203
@gchokeen What are you hoping to use this plugin for?

[2018-11-02 02:39] freewings89 commented on #203
I've just done nothing. When i logged to Azure admin panel, i created an active directory, after that i connect it with my domain. Finally, i created an account (as user) in active directory and now i can sign in to my website using active directory's user. English is not my native language so it may be a little bit difficult for you to understand what i want to explain. Hope you have the same pro

[2018-11-02 02:44] gchokeen commented on #203
@psignoret  I have microsoft account and skype account. I tried to login using those account email address to login in wordpress. But it hangs in login screen. I created azure ad from azure portal to optain sure client id and secret .

[2018-11-09 07:20] volupheles commented on #200
I've just tried this plugin for the first time and getting the same error. Running it on a windows IIS server. WordPress install is pretty much new.

[2018-11-12 03:32] volupheles commented on #200
An update for any users with IIS issues on this. Make sure PHP can write to the temp directory. In your php.ini file, look for session.save_path =
Setting this to a writable directory fixed my issue.

[2018-11-15 01:08] psignoret commented on #200
@volupheles  Sorry for the delayed response here, though I'm happy to see you discovered the issue. PHP sessions must be enabled on the server hosting the site for this plugin to work.

[2018-11-22 11:50] NickHeurter commented on #205
Is there already a solution for this? We really need this and it seems like an easy integration.

Thanks already!

[2018-11-30 19:34] culmor commented on #194
+1 for this - just wondering if this is possible?

[2018-11-30 19:42] psignoret commented on #194
@culmor It's technically possible, although in most cases, simply setting this plugin to automatically redirect to Azure AD will do the job. Does you use case align with that approach?

[2018-11-30 20:01] culmor commented on #194
In a browser that is already authenticated to azure ad / office 365 the redirect is asking for the credentials again, once I signin the authentication works and even if i open another tab the authentication remains.

The ability to use a pre-authenticated session like office 365 would be good.  My use case is staff who are already logged in (sso) that browse to our intranet site feel that the auth

[2018-12-01 09:37] psignoret commented on #194
When this is configured correctly, there are not prompts for additional sign-in if the user is already signed in, like you describe. How have you configured the plugin?

[2018-12-01 11:02] culmor commented on #194
I believe I have the plugin installed ok - the wordpress site is redirected to azure for authentication and then redirected back on successful login - I have also published the app within the app launcher which also prompts for login.
If I have missed something I apologise, I have also removed / re-installed but prompt still exists.  I happy to email further details if required.

[2018-12-21 09:08] #200 closed

[2019-01-02 12:02] rubentoledo commented on #204
Hi, I'm also interested in mapping additional attributes from Azure.
Do we have news about this?

[2019-01-02 20:32] bradkovach commented on #204
https://github.com/psignoret/aad-sso-wordpress/blob/master/AuthorizationHelper.php#L85

The AuthorizationHelper places the token in a session variable.  Your code is welcome to check for and use the `aadsso_access_token` in order to query additional attributes from Azure AD.

[2019-02-05 11:10] filipliwinski opened #209 "Add option to change logout url"
When you log out of the dashboard, WordPress redirects to `/wp-login.php?loggedout=true`. You can then bypass authorization with Azure AD and log in directly or reset the password.

It would be great if we could redirect to the home page or back to the O365 login page after logging out, to avoid direct login.

[2019-02-06 17:35] ADWhite99 opened #210 "Enable Azure AD group to WP role association"
We are encountering an error whenever we tick the Enable Azure AD group to WP Role Association. The error message is ERROR: Unable to check group membership in Azure AD: Authorization_RequestDenied.
We have gone through and checked permissions in the App Registration and checked that we have correctly used the Object IDs. All of that is as expected.
If we do not tick this box, users get created an

[2019-02-07 16:43] ADWhite99 commented on #210
Update on this as I am closing this issue. The issue was resolved after Grant permissions were refreshed on the App Registration settings. As the groups were created after the App Registration they were not being recognized. By Granting permissions the groups were seen and authentication progressed as expected.

[2019-02-07 16:43] #210 closed

[2019-02-19 22:34] bamaro1 commented on #194
Unfortunately the always redirect approach wont work. Most sites (ours included) allow a user to browse anonymously without requiring login.

We've been researching a conceptual approach to this and have found the answer where OAuth flows use a hidden iFrame. Here is the flow:

1. A user accesses a page on the site for the first time (If a session scope cookie called "sso-checked" if it already ex

[2019-02-21 22:08] hobn1354 opened #211 "Error after moving site to 'www.'"
I just moved my site and its URLs to 'www.domain.org' from 'domain.org'
This was necessary due to other reasons...

After having changed the WP url/site urls in the database and used the Velvet Blues plugin to update links, I added code in the .htaccess file, to force/redirect access with 'www.'

Then, after trying to logon with AAD SSO, I recieved the following error in the login.microsoftonline.

[2019-02-22 08:56] filipliwinski commented on #211
What is the value of `redirect_uri` in the auth request url (the page you get the error)? Is it correct?

`https://login.microsoftonline.com/common/oauth2/authorize?response_type=code&scope=openid&domain_hint=&client_id=<<appId>>&resource=https%3A%2F%2Fgraph.windows.net&redirect_uri=<<appRedirectUri>>&state=<<state>>&nonce=<<nonce>>`

[2019-02-22 10:14] hobn1354 commented on #211
Hi, I looked and it seems that the url reply_uri is http://domain.org/wp-login.php

(no HTTPS which is strange??)

However I believe that this IS set as a reply url in azure. I will double check.

Thanks for your help.

[2019-02-22 10:15] hobn1354 commented on #211
So I added the reply url with HTTP, and there is now no error on the microsoftonline login, however it now takes me back to the wp-login.php page, with the following error:

`ANTIFORGERY_ID mismatch. Expecting 
`

**and then it says nothing???

[2019-02-22 10:29] filipliwinski commented on #211
What reply URLs are set in the Azure Portal?

[2019-02-22 11:45] hobn1354 commented on #211
![20190222_113945](https://user-images.githubusercontent.com/47871013/53240524-d0590500-3696-11e9-9dff-21a71cf730aa.jpg)
![screenshot_20190222-114405_chrome](https://user-images.githubusercontent.com/47871013/53240663-3b0a4080-3697-11e9-8de4-fd2a3b44bb4a.jpg)
I just presser set default on redirect url and it changed it, so I'm going to try again

[2019-02-22 11:50] hobn1354 commented on #211
it still doesn't work

[2019-02-22 11:52] filipliwinski commented on #211
What is the point to have all these reply URLs set in the Azure Portal?

`https://example.com/wp-login.php` should be provided only. That is the value form plugin configuration.

[2019-02-22 12:09] hobn1354 commented on #211
Oh I set all of them when trying to get it to work :-)

I will clean it up...

[2019-02-22 12:14] hobn1354 commented on #211
I cleaned it up but it still doesn't work. This is the error I recieve:
![screenshot_20190222-121431_chrome](https://user-images.githubusercontent.com/47871013/53242017-7149bf00-369b-11e9-8dad-3d482b361554.jpg)

[2019-02-22 12:41] filipliwinski commented on #211
This issue may be caused by some plugin. See [#65](https://github.com/psignoret/aad-sso-wordpress/issues/65).

[2019-02-22 12:50] hobn1354 commented on #211
I'll look into it, but I have not added any plugins or done anything like that, only updates. SSO worked fine before I added the www requirement, so I don't know if this is the cause...

[2019-02-24 13:38] #211 closed

[2019-02-24 13:48] hobn1354 opened #212 "Antiforgery ID Issue"
Hi,

I recently changed my WP site's URLs to www.domain.org.uk, and now cannot use AADSSO login. I had some other problems immediately(#211 ). These were resolved by a complete uninstall and reset of the plugin, with a new app registration in AAD, but I am now facing new errors.

After login at MicrosoftOnline, I am taken back to the _wp-login.php_ page, with the error '_Session does not contain a

[2019-02-24 19:16] hobn1354 commented on #212
The problem seems to be solved after I whitelisted the _huge_ list of [Azure Datacenter IPs](https://www.microsoft.com/en-gb/download/details.aspx?id=41653) in Jetpack.

[2019-02-24 19:16] #212 closed

[2019-03-08 19:48] spaceship12 opened #213 "signing out"
When signing out, Is there anyway to avoid the "are you sure you want to sign out" page?

[2019-03-08 19:58] spaceship12 opened #214 "two separate AAD login issues"
Example. User is signed in to site A (uses AAD), user then goes to site B (also using AAD), where login email is not the same. But site A still has authentication token stored.

Result: Automatically gets forwarded to normal Wordpress login page, bypassing AAD login on site B.

Is there any way to stop this from happening?

Thank you.

[2019-03-21 02:45] mmggIThub opened #215 "Custom Domain Name in Azure Web App - Auth Errors"
I have a WordPress web app in azure http://xyz.azurewebsites.net
I also have a custom domain name abc.123.com that points to xyz.azurewebsites.net via CNAME config for 123.com DNS

AD App in Azure AD has both URLS in Reply URLs
http://xyz.azurewebsites.net/wp-logn.php
http://abc.123.com/wp-login.php

Redirect URL in the AAD-SSO plugin in wp is set to http://abc.123.com/wp-login.php

Issue is that

[2019-03-21 03:30] psignoret commented on #215
First, make sure you have not disabled ARR Affinity for the Azure App Service. (This would only be a cause if you had multiple instances, but it could happen.) If you disable that feature, multiple requests could land on different servers, and the PHP session cookie that keeps track of the fact that a user was sent off to sign in with Azure AD

Second, verify that you are consistently using "https

[2019-03-21 03:42] mmggIThub commented on #215
Thanks for the quick response. I currently don't have SSL enabled so its http.
ARR Affinity is On.

Besides AD-SSO plugin I am using My Private Site plugin to allow only authenticated users to view the site.

I remember not having issues before I went the custom domain way.

Wondering if somehow internally abc.123.com pointing to the web app xyz.azurewebsites.net and that url not known to the plug

[2019-03-21 04:04] psignoret commented on #215
Aside from all of this, you really should turn on HTTPS (it's free and painless with the Azure Let's Encrypt extension, for example).

It's possible the plugin you're using and this plugin are stepping on each other's toes. Can you share how you've configured My Private Plugin, so that I can look into this a bit further?

[2019-03-21 05:48] mmggIThub commented on #215
Setting are as follows (They were default settings):
Do not block WordPress standard User Registration page (Advanced Setting: a check mark in this checkbox is recommended) - This is checked
Where to after Login? | Go to Site Home
Apply to wp-login.php? - No
Custom Login page? - No
Site Home Always Visible? http://xyz.azurewebsites.net - No
Add URL to be Always Visible - None
Current Visible URL E